<div id="user-register-container" class="dialogbox-container">
 <h2 class="title">Edit Profile</h2>
   <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
   <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
     <div class="loadingBar" ng-if="loading"></div> 
	<form name="editProfile" ng-submit="updateUserProfile(editProfile)" novalidate>
      <div class="user-register">
      
        <div class="form-item form-type-textfield">
          <label>First Name</label>          
          <input tabindex="1" type="text" name="firstname" id="edit-first-name" class="form-text"
           ng-model="updatePF.field_first_name"  ng-pattern="/^[a-zA-Z0-9]{1,20}$/" required>
        </div>
        
        <div class="form-item form-type-textfield">
          <label>Last Name</label>          
          <input tabindex="1" type="text" name="lastname" id="edit-last-name" class="form-text" 
          ng-model="updatePF.field_last_name" ng-pattern="/^[a-zA-Z0-9]{1,20}$/" required>
        </div>
        
        <div class="form-item form-type-textfield">
          <label>Email</label>          
          <input tabindex="1" type="email" name="email" id="edit-email" class="form-text"
           ng-model="updatePF.field_email" required>
        </div>
        
        <div class="form-item form-type-textfield">
          <label>Phone/Mobile</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_phone_mobile.number" ng-pattern="/^[0-9]{10,10}$/">
        </div>

        <div class="form-item form-type-textfield">
          <label>ABN</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_abn">
        </div>

        <div class="form-item form-type-textfield">
          <label>Country</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.country">
        </div>

        <div class="form-item form-type-textfield">
          <label>Address 1</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.thoroughfare">
        </div>

        <div class="form-item form-type-textfield">
          <label>Address 2</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.premise">
        </div>

        <div class="form-item form-type-textfield">
          <label>City</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.locality">
        </div>

        <div class="form-item form-type-textfield">
          <label>State</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.administrative_area">
        </div>

        <div class="form-item form-type-textfield">
          <label>Postal Code</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="updatePF.field_address_3.postal_code">
        </div>

        <div class="form-item form-type-textfield">
          <label>Preferred Transport</label>           
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" ng-model="updatePF.field_preferred_transport">
        </div>
        
        <div class="form-item form-type-submit">
        <input tabindex="1" id="edit-submit" name="add" value="Update" class="form-submit" type="submit">
        </div>
    </div><!--- end /.user-register --->
  </form>
</div><!--- end /#user-register-container --->
