  <div id="enquiries-container" ng-if="isLogin">
  <div class="form-item form-type-submit">
    <input tabindex="1" id="new-enquiries" value="New Enquiry" class="form-submit" type="button" ng-click="sendEnquiry()">
  </div>
  <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
  <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>   	
   <div id="enquiries-detail" class="nopbox"><div class="inner">
     <h2 class="title">Enquiries</h2>
	 <div class="loadingBar" ng-if="loading"></div> 
	 <!--<div ng-if="listEnquiry.length == 0"> Empty</div>-->
     <div class="teaser" ng-repeat="value in listEnquiry">
       <a href="#/msg-full-mode/{{value.id}}">
         <span class="message {{isVisitedMsg(value.id)}}">
       	   <span ng-if="value.uid == currentUser.uid">Me</span>
       	   <span ng-if="value.uid != currentUser.uid">{{setUserName(value.uid)}}</span>: {{value.field_subject}} - 
       	     <span class="posted-date" am-time-ago="value.created * 1000">{{value.created * 1000 | date:'mediumDate'}}</span>
         </span>
       	 <img src="img/icons/atch.gif" ng-if="value.field_attachment">
       </a> 
     </div>
   </div></div>
