  <div id="password-container" class="dialogbox-container">
    <h2 class="title">Forgot Password</h2>
    <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
	<div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
    <div class="password-content">
	 <form name="passwordForm" ng-submit="resetPassword(passwordForm)" novalidate>
        <div class="form-item form-type-textfield">
			<label>Enter your Email Address</label>
			<input tabindex="1" type="email" name="email" id="edit-email" class="form-text" ng-model="emailID" required>
        </div>
        <div class="form-item form-type-submit">
			<input tabindex="1" id="edit-submit" name="send_password" value="Reset Password" class="form-submit" type="submit">
		</div>
	 </form>
    </div><!--- end /.password-content --->
  </div><!--- end /#password-container --->