        <div id="menu-area" class="clearfix"><div class="global-padding">
          <div class="user-detail">
            <span class="user-img"><img ng-src="{{currentUser.picture.url}}"></span>
            <span class="user-name">{{welcomeUser}}</span>
          </div>
          <div id="navigation">
	        <ul class="navigation">
		      <li class="home first"><a href="#/">Home</a></li>
		      <li class="new-orders"><a href="#/orders">Quotes</a></li>
		      <li class="enquiries last"><a href="#/enquiries">Enquiries <span ng-show="msgCount">{{msgCount}}</span></a></li>
		      <!--<li class="invoice-history"><a href="#/invoice-history">Invoice History</a></li>-->
		      <!-- <li class="menui"><a href="#">Menu</a></li> -->

	        </ul>
          </div>
        </div></div><!--- end /.global-padding, /#menu-area --->
