    <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
    <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
	<div class="loadingBar" ng-if="loading"></div>  
    <div id="msg-full-mode" class="nopbox"><div class="inner" ng-if="message">

      <div class="main-msg">
        <div class="posted-date" am-time-ago="message.created * 1000">{{message.created *1000 | date:'mediumDate'}}</div>
        <div class="msg-subject">{{message.field_subject}}</div>
		
		<div class="msg-sender">
          <div ng-if="message.uid == currentUser.uid && message.field_to.target_id == currentUser.uid"><strong>Me</strong> to Me</div>
          <div ng-if="message.uid == currentUser.uid && message.field_to.target_id != currentUser.uid"><strong>Me</strong> to {{setUserName(message.field_to.target_id)}} </div>
          <div ng-if="message.field_to.target_id == currentUser.uid && message.uid != currentUser.uid"><strong>{{setUserName(message.uid)}} to </strong>Me</div>
		</div>

        <div class="msg-body"> {{message.field_message}} </div>

        <div class="msg-attachment" ng-show=message.field_attachment>
          <a ng-href="http://imtrade.gocatalyze.com/sites/imtrade.gocatalyze.com/files/{{message.field_attachment.filename}}">
            <img alt="{{message.field_attachment.filename}}"height="100px" width="100px" src="http://imtrade.gocatalyze.com/sites/imtrade.gocatalyze.com/files/{{message.field_attachment.filename}}">{{message.field_attachment.filename}}</a> <img alt="{{message.field_attachment.filename}}" src="img/icons/atch.gif">
		</div>
      </div>
		

      <div ng-repeat="thread in threadMsg" class="msg-thread">
        <div class="posted-date" am-time-ago="thread.created * 1000"> {{thread.created *1000 | date:'mediumDate'}}</div>

        <div class="msg-sender">
          <div ng-if="thread.uid == currentUser.uid && thread.field_to.target_id == currentUser.uid"><strong>Me</strong> to Me</div>
          <div ng-if="thread.uid == currentUser.uid && thread.field_to.target_id != currentUser.uid"><strong>Me</strong> to {{setUserName(thread.field_to.target_id)}}</div>
          <div ng-if="thread.field_to.target_id == currentUser.uid && thread.uid != currentUser.uid"><strong>{{setUserName(thread.uid)}}</strong> to Me</div>
        </div>
        <div class="msg-body"> {{thread.field_message}} </div>
     
        <div class="msg-attachment" ng-show=thread.field_attachment>
          <a ng-href="http://imtrade.gocatalyze.com/sites/imtrade.gocatalyze.com/files/{{thread.field_attachment.filename}}">
            <img alt="{{thread.field_attachment.filename}}" height="100px" width="100px" src="http://imtrade.gocatalyze.com/sites/imtrade.gocatalyze.com/files/{{thread.field_attachment.filename}}">{{thread.field_attachment.filename}}{{thread.field_attachment.filename}}</a><img alt="{{thread.field_attachment.filename}}" src="img/icons/atch.gif">
		</div>
      </div>
      
        <div class="loadingBar" ng-if="loading1"></div>
		<div class="add-order-button"><a ng-click="enquiryReply()" class="button">Reply</a></div>
        <div ng-include src="'views/send-enquiry-reply.html'" ng-if="isReply"></div>
    </div></div>