  <div class="order-buttons">
    <div class="add-order-button"><a href="#/orders" ng-click="openNeworderTemplate()" class="button">Request a Quote</a></div>
    <div class="add-order-button" ng-hide="orders.length==0"><a href="#/order-details/{{orders[0].id}}" ng-click="openOrderDetails()" class="button">View recent order details</a></div>
  </div>

  <div ng-if="errormsg" class="notificationmsg error">{{errormsg}}</div>
  <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
  <div ng-if="isLogin" id="orders" class="nopbox"><div class="inner">
 <!--  <span ng-if="currentUser.profile.field_manager.target_id==1">Call:<a href="#/orders">{{getAdmin()}}</a></span> -->
    <h2 class="title">My Orders</h2>
      <div class="loadingBar" ng-if="loading"></div>
	  <div ng-if="recentOrders.length == 0">You have no recent orders in our system</div>
      <div class="teaser">
        <table ng-if="orders.length!=0">
 	  <tr><th>Order #</th><th>Order Name</th><th>Status</th><th>Date</th><th>Delivery Address</th><th>Preferred Transport</th></tr>
 	  <tr ng-repeat="value in orders" ng-switch="value.field_status">
            <td>{{value.field_order}}</td>
            <td>{{value.field_order_name}}</td>
            <td ng-switch-when="1">Draft</td>
            <td ng-switch-when="2">Submitted</td>
            <td ng-switch-when="3">Quoted</td>
            <td ng-switch-when="4">Approved</td>
            <td>{{value.created * 1000 | date:'mediumDate'}}</td>

            <td><p>
            {{userProfile.field_address_3.country}}, {{userProfile.field_address_3.thoroughfare}}, {{userProfile.field_address_3.premise}}, {{userProfile.field_address_3.locality}}, {{userProfile.field_address_3.administrative_area}}, {{userProfile.field_address_3.postal_code}}, {{userProflie.field_preferred_transport}}</p>
            </td>

            <td><p>{{userProflie.field_preferred_transport}}</p> 
            <p><a href="#/order-details/{{value.id}}" ng-click="openOrderDetails()" class="button small">Open Order</a></p></td> 

          </tr>
        </table>
      </div>
   </div>
