  <div ng-if="isLogin" id="recent-news" class="nopbox"><div class="inner">
  <h2 class="title">Recent News</h2>
  <div ng-if="errormsg" class="notificationmsg error">{{errormsg}}</div>
  <div class="loadingBar" ng-if="loading"></div>
  <div ng-repeat="value in newsPost">
    <div class="teaser">
      <div class="nopimg user-img"></div>
      <div class="description">
        <p>{{value.field_news}}</p>
        <div class="posted-date" am-time-ago="value.created * 1000">
        {{value.created * 1000 | date:'fullDate'}} 1 day 16 hours ago</div>
        </div>
      </div>
  </div>
  </div>
