    <div id="enquiries-container" ng-if="isLogin">
	 <form name="replyForm" ng-submit="sendEnquiryReply(replyForm)" novalidate>
      <div class="enquiries-content">
        <div class="form-item form-type-textfield">
          <input tabindex="1" type="hidden" name="subject" id="edit-subject" class="form-text" ng-model="postreply.field_thread.target_id">
          <input tabindex="1" type="hidden" name="subject" id="edit-subject" class="form-text" ng-model="postreply.field_to.target_id">
          <input tabindex="1" type="hidden" name="subject" id="edit-subject" class="form-text" ng-model="postreply.field_subject">
        </div> 
        <div class="form-item form-type-textarea">
          <label>Message</label>
          <textarea id="edit-submitted-message" name="submitted[message]" cols="60" rows="5" class="form-textarea" ng-model="postreply.field_message"></textarea>
        </div>
        <div class="form-item form-type-submit"><input tabindex="1" id="enquiries-reply" name="enquiries-reply" value="Send" class="form-submit" type="submit"></div>

      </div><!--- end /.enquiries-content --->
      </form>

    </div><!--- end /#enquiries-container --->