<div id="user-register-container" class="dialogbox-container">
 <h2 class="title">User Register</h2>
 
      <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
      <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
      <div class="loadingBar" ng-if="loading1"></div>
	<form name="registerForm" ng-submit="userRegister(registerForm)" novalidate>
      <div class="user-register">

        <div class="form-item form-type-textfield">
          <label>First Name</label>
          <input tabindex="1" type="text" name="firstname" id="edit-first-name" class="form-text"
           ng-model="newuser.data.profile.field_first_name"  ng-pattern="/^[a-zA-Z0-9]{1,20}$/" required>
        </div>

        <div class="form-item form-type-textfield">
          <label>Last Name</label>
          <input tabindex="1" type="text" name="lastname" id="edit-last-name" class="form-text" 
          ng-model="newuser.data.profile.field_last_name" ng-pattern="/^[a-zA-Z]{1,20}$/" required>
        </div>

        <div class="form-item form-type-textfield">
          <label>Email</label>
          <input tabindex="1" type="email" name="email" id="edit-email" class="form-text" 
          ng-model="newuser.email" required>       
        </div>

        <div class="form-item form-type-textfield">
          <label>Phone/Mobile</label>
           <input tabindex="1" type="text" name="phone" id="edit-phone" class="form-text" 
           ng-model="newuser.data.profile.field_phone_mobile.number" ng-pattern="/^[0-9]{10,10}$/">
        </div>
        <div class="form-item form-type-textfield">
          <label>Password</label>
           <input tabindex="1" type="password" name="pass" id="edit-phone" class="form-text" 
           ng-model="newuser.password" required>
        </div>
         <div class="form-item form-type-textfield">
          <label>Confirm Password</label>
           <input tabindex="1" type="password" name="confirmpass" id="edit-phone" class="form-text" 
            required>
        </div>
        
        <div class="form-item form-type-submit">
        <input tabindex="1" id="edit-submit" name="add" value="Create Account" class="form-submit" type="submit">
        </div>
    </div><!--- end /.user-register --->
  </form>
</div><!--- end /#user-register-container --->