<div id="container-main" scroll-to="">
  <h1 class="facebook">Connect your Facebook Account</h1>

  <h2 class="facebook-acc">Kickstart your profile by importing data from your Facebook Account.</h2>

  <p class="m-btm-200">&nbsp;</p>

  <div class="clear clearfix"></div>
</div>
<ul class="social">
  <li class="fb-coonect" ng-click="login()">
    <a href="" ng-hide="isLoggedIn">Connect with Facebook</a>
    <a href="" ng-show="isLoggedIn"><span ng-show="isLoggedIn">{{welcomeMsg}}</span> Disconnect with Facebook</a>
  </li>
  <li class="skip" ng-click="locationRedirect('createProfile')"><a>Skip this step</a></li>
</ul>