<div id="login-container">
  <h1 class="facebook">Welcome to SR Jobs</h1>
  <ul class="login-cont">
    <li>
      <p class="login-label">Enter your Email Address</p>

      <div class="login-input">
        <form ng-submit="" handle-phone-submit>
          <input type="text" name="email" id="txt-field2" class="textfield login-input" ng-model="auth.first_name"
                 placeholder="Tap to enter Email" value="">
          <input type="submit" class="invisibleButton"/ />
        </form>
        <div class="clear clearfix"></div>
      </div>
      <div class="clear clearfix"></div>
      </br>
      <div class="clear clearfix"></div>
    </li>
  </ul>
  <p class="m-btm-100">&nbsp;</p>

  <div class="clear clearfix"></div>
</div>
<ul class="login-tab">
  <li class="login" ng-click="" scroll-to=""><a>Send Password</a></li>
</ul> 
