<div id="sticky-header" sticky-nav>
  <div id="header1" ng-if="!search">
    <div class="back" ng-if="back"><a ng-click="doTheBack()"><img src="img/icon/back.png"></a></div>
    <div class="logo" ng-if="page!='createAccount'  && page!='login'"><!--Logo Start --><a href="#/home"
                                                                                           title="SR Jobs"><img
            src="img/logo.png" alt="SR Jobs" border="0"/></a></div>
    <!-- Logo End -->
    <div class="logo-acc" ng-if="page=='createAccount'  || page=='login'"><!--Logo Start --><a title="SR Jobs"><img
            src="img/logo.png" alt="SR Jobs" border="0"/></a></div>
    <!-- Logo End -->
    <div class="home-top">
      <ul>
        <li ng-if="home"><a href="#/home"><img src="img/icon/home.png"></a></li>
        <li ng-if="user"><a href="#/profile" class="user"><img src="img/icon/user.png"></a></li>
        <li class="last" ng-if="settings"><a href="#/settings"><img src="img/icon/settings.png"></a></li>
      </ul>
      <div class="clear clearfix"></div>
    </div>
    <div class="clear clearfix"></div>
  </div>

  <div id="header1" ng-if="search">
    <div class="back" ng-if="back"><a ng-click="doTheBack()"><img src="img/icon/back1.png"></a></div>
    <div class="logo1">
      <!--Logo Start -->
      <a href="" title="SR Jobs"><img src="img/logo1.png" alt="SR Jobs" border="0"></a></div>
    <!-- Logo End -->
    <div class="home-top">
      <ul>
        <li ng-if="home"><a href="#/homeScreen"><img src="img/icon/home1.png"></a></li>
        <li ng-if="user"><a href="#/profile"><img src="img/icon/user1.png"></a></li>
        <li ng-if="user"><a href="#/settings"><img src="img/icon/settings1.png"></a></li>
        <li class="last"><a href="#/search"><img src="img/icon/search.png"></a></li>
      </ul>
      <div class="clear clearfix"></div>
    </div>
    <div class="clear clearfix"></div>
  </div>
</div>
