<div id="login-container">
  <h1 class="facebook">Welcome to SR Jobs</h1>

  <h2 class="facebook-acc">Please create an account or login to get started.</h2>

  <div id="topOfForm"></div>
  <div class="loadingBar" ng-if="loading"><img src="img/icon/loadingBar.gif"></div>
  <form ng-submit="doLogin();" handle-phone-submit>
    <ul class="login-cont">
      <li>
        <p class="error login-error" ng-if="error">Incorrect User name or Password </p>

        <p class="login-label">Email, Phone Number or Job Seeker Number</p>

        <div class="login-input">
          <input type="text" name="username" id="txt-field2" class="textfield login-input" ng-model="auth.username"
                 placeholder="Tap to enter email" value="">

          <div class="clear clearfix"></div>
        </div>
        <p class="login-label">Password or PIN</p>

        <div class="login-input">
          <input type="password" name="password" id="txt-field2" placeholder="Tap to enter password"
                 ng-model="auth.password" class="textfield login-input" value="">

        </div>
        <div class="clear clearfix"></div>
        <div class="forgot" ng-click="locationRedirect('forgotPassword')"><a class="underline">I forgot my password</a>
        </div>
        <div class="clear clearfix"></div>
      </li>
    </ul>
    <input type="submit" class="invisibleButton"/>
  </form>
  <p class="m-btm-100">&nbsp;</p>

  <div class="clear clearfix"></div>
</div>
<div class="fixedBottom">
  <ul class="login-tab">
    <div scroll-to="">
      <li class="login" ng-click="doLogin()"><a>Login</a></li>
    </div>
    <li class="createAccount" ng-click="locationRedirect('createAccount')"><a>Create an Account</a></li>
  </ul>
</div> 
