html {
  overflow-y: scroll;
}

.has-overlay {
  overflow: hidden;
}
.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}

.semantic-content {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
.semantic-content:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.is-active.semantic-content {
  display: block\9;
}
.semantic-content .modal-inner {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 20;
  margin-left: -255px;
  width: 530px;
  overflow-x: hidden;
  background: #EEEEEE;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.semantic-content .modal-inner > img,
.semantic-content .modal-inner > video,
.semantic-content .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
.semantic-content .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.semantic-content header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
.semantic-content header > h2 {
  margin: 0.5em 0;
}
.semantic-content .modal-content { 
  height: 100%;
  padding:0 27px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 91%;
  position: absolute; 
}

.semantic-content1 .modal-content {
  padding:27px;}
.semantic-content .modal-content > * {
  max-width: 100%;
}
.semantic-content footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.semantic-content .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
.semantic-content .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background:url(../img/bg/popup-bg.png) repeat left top;
}
.semantic-content .modal-close:after {
	content: '';
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 20;
	margin-left: 235px;
	/*background: url(../img/close.png) no-repeat center center;*/
	border-radius: 2px;
	padding: 6px 0px;
	font-size: 1.2em;
	text-decoration: none;
	text-indent: 0;
	height: 32px;
	width: 32px;
}


.semantic-content .modal-content .profile-user .ur-name {
	padding: 3% 0% 1% 4%;
	/*float: left;*/
	width: 78%;
}
.semantic-content .modal-content .profile-user h1{
	width: 70px;
	height: 70px;
	border: 5px solid #29CBB7;
	font-size: 24px;
	line-height: 70px;
	z-index: 99;
}
.semantic-content .modal-content .profile-user h2{
	font-size: 36px;
	width: auto;
	margin-bottom:2%;
  margin-left: 20%;
}
.view-active-role .edit-name .name{margin : 0 0 0 10%!important; font-size:30px !important;}
.view-active-role .edit-name .inner-name{margin : 0 0 0 10%!important; font-size:15px !important;}
.semantic-content .modal-content .profile-user h3 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding: 3% 0% 0% 8%;
	background: url(../img/star.png) no-repeat left 31%;
  margin-left: 15%;
}

.semantic-content .modal-content .diary-notes li p {
	font-size: 16px;
	line-height: 150%;
	padding-bottom: 0%;
}
.semantic-content .modal-content .diary-notes li p.comp {
	color: #149C8B;
	font-family: "Open Sans Light";
}
.semantic-content .modal-content .diary-notes li {
	background: #FFFFFF;
	padding: 2.8% 5% 2.2% 6%;
	margin-bottom: 4%;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.semantic-content .modal-content .diary-notes li.last{
	margin-bottom:0;
}

.add-new-role .modal-inner {
	top:12%;
	left: 22%;
	z-index: 20;
	margin-left: -20%;
	width: 96%;
}
.add-new-role .modal-close:after {
	top: 12%;
	left: 76%;
	margin-left: 18%;
}
.add-new-role h2{
	font-size: 36px;
	font-family: "Open Sans Light";
	padding: 0%;
	width: 320px;
}
.semantic-content1 .modal-close:after {
	top: 6%;	
	left: 69%;
}
.semantic-content2 .modal-close:after {
  top: 6%;   
}


   /* .diary-notes li:last-child{margin-bottom:50px !important;}*/

    #login-container{
      background-color:#EEEEEE;
      width: 97%;
      padding:2% 0% 0% 3%;
    }
    h1.login-text{
      font-size: 320%;
      font-family:"Open Sans Light";
      padding: 3% 3% 1% 6%;
    }
    h2.login-acc{
      font-size: 210%;
      line-height:170%;
      padding: 0% 3% 2% 6%;
    }
    .login-cont{
      background-color:#FFF;
	  margin:20px 0px;
    }
	.login-cont li{
	background: #FFFFFF;
	padding: 1% 0% 2% 2%;
	margin-bottom: 4%;
	-webkit-box-shadow: -3px 4px 6px -6px black;
	-moz-box-shadow: -3px 4px 6px -6px black;
	box-shadow: -3px 4px 6px -6px black;
	}
    .login-cont li .login-label{
      color: #149C8B;
        font-size: 20px;
        font-weight: bold;
        line-height: 120%;
        padding: 3%;
    }
    .login-input{
      float: none;
    }

    .forgot{
      padding : 5% 3% 3% 3%;
    }
    .forgot a{
      color:#AAAAAA;
      font-size: 20px;
	  font-weight: normal;
    }
    .login-tab li{
      margin-bottom:0;
      padding: 7% 3% 7% 22%;
    }
    .login-tab li a {
      color:#FFF;
      font-size:32px;
      line-height:120%;
      text-decoration:none;
      text-shadow: 0px 1px rgba(0,0,0, 0.2);  
    }
    .login-tab li.login{
      background-color:#19B19E;
      background-image:url(../img/icon/login.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }
    .login-tab li.createAccount{
      background-color:#149C8B;
      background-image:url(../img/icon/create-acc.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }

    h1.home-text{
      font-size: 320%;
      font-family:"Open Sans Light";
      padding: 3% 3% 1% 6%;
    }
    h2.home-acc{
      font-size: 210%;
      line-height:170%;
      padding: 0% 3% 2% 6%;
    }
    .home-one li{
      margin-bottom:0;
      padding: 7% 3% 7% 22%;
    }
    .home-one li a {
      color:#FFF;
      font-size:32px;
      line-height:120%;
      text-decoration:none;
      text-shadow: 0px 1px rgba(0,0,0, 0.2);  
    }
    .home-one li.notifications{
      background-color:#2ACCB8; 
      background-image:url(../img/icon/notification-flag.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }
    .home-one li.notifications .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #0D8475;
        color: #FFFFFF;
        text-align: center;
        font: 32px Arial, sans-serif;
        float : right;
    }
    .home-one li.work-diary{
      background-color:#19B19E; 
      background-image:url(../img/icon/history.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }
    .home-one li.profile{
      background-color: #149C8B;
      background-image:url(../img/icon/user.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }
    .home-one li.upskill{
      background-color:#0D8475;
      background-image:url(../img/icon/upskill.png);
      background-position:10% center;
      background-repeat:no-repeat;
    }
    .login-input{
      width:94% !important;
    }


    .semantic-content2 #modal-inner #popup ul.diary-notes{
      width : 100% !important;
    }
   .semantic-content2 #modal-inner #popup .profile-resume p.create-rol{ 
      width : 100% !important;
   }
   .semantic-content2 .modal-content{
      max-height: 94% !important;
   }


    *{-webkit-overflow-scrolling:touch;} 
    .resp-tabs-container-h1 {
        background: none repeat scroll 0 0 #6e7a84;
        border: 5px solid #535a61;
        border-radius: 100%;
        color: #ffffff;
        float: left;
        font-family: "Open Sans Semibold";
        font-size: 18px;
        height: 61px;
        line-height: 60px;
        padding: 0;
        position: relative;
        text-align: center;
        width: 61px;
        z-index: 0;
    }
    .resp-tab-active .resp-tabs-container-h1 {
        background: none repeat scroll 0 0 #2accb8;
        border: 5px solid #19b19e;
    }

    @media only screen and (max-width: 1024px) {
      .resp-tabs-container-h1 {
          font-size: 15px;
          height: 45px;
          line-height: 45px;
          width: 45px;
      } 
    } 
  .tit .check li{ 
    background-size: 20px;
    text-transform : capitalize; 
  } 
  @media only screen and (max-width: 420px) {
    .tit .check li {background-size: 20px;}
  }
  @media only screen and (max-width: 480px) {
    .profile-user h2 {line-height: 225%;}
  }
  .resp-vtabs .resp-tab-content { 
      padding-bottom: 15%;
  }

  
    @media screen and (max-width: 600px) {

    .yellow-star{width: 28px;height: 28px;}

     #modal-text .modal-inner {
        width: auto;
        left: 20px;
        right: 20px;
        margin-left: 0;
        height: 50%;
      }
      #popup{ width:auto;}
      #modal-text .modal-close {
        left: auto;
        right: 33px;
        margin-left: 0;
      }
      #modal-text .modal-close:after {
        margin-left: 34%;
      }
      .semantic-content .modal-content {
       /* max-height: 175px !important;*/
       width: 91%;position: absolute; 
      }
      .semantic-content .modal-content .profile-user h2{font-size: 18px !important;}
      .semantic-content .modal-content .profile-user h1{
        font-size: 18px !important;
        height: 50px !important;
        line-height: 50px !important;
        width: 50px !important;}

      .semantic-content .modal-content .view-active-role .edit-name .name{margin : 0 0 0 10%!important; font-size:15px !important;}
      .semantic-content .modal-content .view-active-role .edit-name .inner-name{margin : 0 0 0 10%!important; font-size:12px !important;}
      .semantic-content .modal-content .profile-user h3{font-size: 11px !important;padding: 3% 0 6px 21% !important;} 
      .shortlisted-confirmation{background-size: 10%!important;font-size: 100% !important;}
    } 

    .model-close-img{height:32px !important ;float:right;background:url('../img/close.png');width:32px !important;
z-index: 999999;position: relative;margin-top: 10px;margin-right: 10px;  }
    .semantic-content2 .modal-close:before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
background: url(../img/bg/popup-bg.png) repeat left top;
}

.job li a.job-course,.job li a.new-job{background-size: 8% !important;}

.stuck {
  position: fixed;
  top: 0;
  z-index: 999;
}
.diary-notes{ 
height: 100%;
}
.scrollY,.scroll-model{overflow-x:hidden !important; }

.semantic-content .modal-content{
  overflow-y:hidden !important;
}
.scroll-model{
  height:90%;
  overflow-y:scroll;
}
.single-line{
  width: 100%;
  overflow: hidden;
  margin-left: 18%;
  line-height: 1;
  float: left;
} 
