body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
	font-weight:normal;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size : 15px;
}
body.notifications{
	background-color: #EEEEEE;
}
h1, h2, h3, h4, h5, h6{
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color:#333;
	font-size: 210%;
	line-height:120%;
}
h2 {font-size: 190%;}
h3 {font-size: 170%;}
h4 {font-size: 130%;}
h6 {font-size: 120%;}
li{font-size: 160%;line-height: 150%;color: #333333;font-weight: normal;}
img{max-width:100%;}
p{
	font-size: 160%;
	line-height:150%;
	color: #333333;
	font-weight:normal;
	padding-bottom: 2%;
}
p.date, .diary-notes li p.date{
	font-size: 20px;
	line-height:120%;
	color: #149C8B;
	font-weight:bold;
	padding:0 0 1% 0;
}
#sticky-header{
	width: 100%;
	background: #2ACCB8;
	position:fixed;
	z-index: 999;
}
#header{
	background:#2ACCB8;
	width:94%;
	padding: 9% 3% 2% 3%;
}
#header-profile {
	background: #2ACCB8;
	width: 94%;
	padding: 9% 3% 2% 3%;
	border-bottom:20px solid #19B19E;
}
.back{
	float:left;
}
.logo{
	float:left;
	margin-left:12.5%;
}
.logo-acc{
	float:left;
	margin-left:7%;
}
.home-top{
	float:right;
}
.home-top li{
	list-style:none;
	float:left;
	margin: 0 10px;
}
.home-top li a{
	float:left;
}
.home-top li a.user{
	padding-top: 13%;
}
.home-top li.last{
	margin: 0 0 0 10px;
}
.home-top li.hide{
	width: 45px;
}
#container{
	width:97%;
	padding:2% 0 22px 3%;
	background-color: #EEEEEE; 
}
h1.work-diary{
	background:url(../img/icon/work-diary.png) no-repeat left center;
	padding: 6% 0 6% 13%;
	margin-left: 7%;
}
.diary-notes li{
	background:#FFFFFF;
	padding:3.8% 8% 4% 4%;
	margin-bottom:4%;
	/*-webkit-box-shadow: -3px 4px 6px -6px black;
	   -moz-box-shadow: -3px 4px 6px -6px black;
	        box-shadow: -3px 4px 6px -6px black;*/
    border-bottom: 1px solid #DDDBD6;
}
.diary-notes li.edit-map{
	background:none;
	padding:0;
	margin:0;
	height:210px;
	position:relative;
}
.diary-notes li.edit-map h4.map-tit, .profile-user h4.map-tit{
	background:#333333;
	font-family: 'Open Sans', sans-serif;
	line-height:120%;
	padding:4px 5px;
	margin:0 0 0 0%;
	position: absolute;
	width: auto;
	bottom: 0%;
	font-size:16px;
	font-weight:bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius:5px;
}
.diary-notes li.edit-map h4.map-tit a, .profile-user h4.map-tit a{
	color:#FFFFFF;
	text-decoration:none;
}
.notification{
	padding: 3% 0 3% 0;
	margin:0 5% 0 7%;
}
.notification h1{
	background:url(../img/icon/notification.png) no-repeat left center;
	padding: 2% 0 2% 12%;
	float:left;
}

h2.order{
	background: #149C8B;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-border-radius:100%;
	width:66px;
	height:68px;
	float:right;
	padding: 0 0 0 0;
	color:#FFFFFF;
	font-size:32px;
	text-align:center;
	line-height:68px;
}
#container li.view{
	padding: 3% 3% 3% 4%;
	margin-bottom: 4%;
}
#container li.view a{
	color:#149C8B;
	font-size:100%;
	line-height:120%;
	font-weight:bold;
	text-decoration:none;
}
#footer{
	background:url(../img/notifications-footer-bg.jpg) repeat-x left top;
	height:22px;
	width:100%;
	margin-top: 5%;
	position: fixed;
	bottom: 0;
	background-size : 100% 22px;
}

#container-main{
	width:94%;
	padding:2% 3% 0 3%;
}
.job, .hours, .history-help{
	margin-bottom:7%;
	margin-top: 4%;
}
.job li, .hours li, .history-help li{
	background:#E3B62C;
	padding: 5.5% 3% 5.2% 15%;
	margin-bottom: 2%;
}
.job li a, .hours li a, .history-help li a {
	color:#FFF;
	font-size:210%;
	line-height:120%;
	text-decoration:none;
	text-shadow: 0px 1px rgba(0,0,0, 0.2);
	padding:0% 0% 0 15%;
}
.job li a.new-job{
	background:url(../img/icon/new-job.png) no-repeat left center;
}
.job li a.job-interview{
	background:url(../img/icon/job-interview.png) no-repeat no-repeat 9% center;
	padding-left: 20%;
}
.job li a.job-course{
	background:url(../img/icon/job-course.png) no-repeat no-repeat 7% center;
	padding-left: 18%;
}
.hours li{
	background:#2A8DCC;
}
.hours li a.add-hour{
	background:url(../img/icon/hours.png) no-repeat no-repeat 15% center;
	padding-left: 23%;
}
.hours li a.add-wages{
	background:url(../img/icon/wages.png) no-repeat no-repeat 9% center;
	padding-left: 20%;
}
.history-help li{
	background:#2ACCB8;
	margin-bottom: 7%;
}
.history-help li a.history{
	background:url(../img/icon/history.png) no-repeat no-repeat 9% center;
	padding-left: 20%;
}
.history-help li a.help{
	background:url(../img/icon/help.png) no-repeat no-repeat 9% center;
	padding-left: 20%;
}
h1.facebook{
	font-size: 320%;
	font-family:"Open Sans Light";
	padding: 0.5% 3% 1% 7.5%;
}
h2.facebook-acc{
	font-size: 185%;
	line-height:170%;
	padding: 0% 3% 1% 7.5%;
}
.social li{
	margin-bottom:0;
	padding: 8% 3% 8% 22%;
}
.social li a {
	color:#FFF;
	font-size:210%;
	line-height:120%;
	text-decoration:none;
	text-shadow: 0px 1px rgba(0,0,0, 0.2);
}
.social li.fb-coonect{
	background-color:#3B5998;
	background-image:url(../img/icon/facebook.png);
	background-position:10% center;
	background-repeat:no-repeat;
}
.social li.skip{
	background-color:#149C8B;
	background-image:url(../img/icon/skip-icon.png);
	background-position:10% center;
	background-repeat:no-repeat;
}
.social li.skip a{
	color:#82C6BE;
}
.resume{
	width:100%;
	min-height:500px;
}
.resume-pdf{
	width:100%;
	min-height:500px;
}
#container-edit-profile{
	width: 97%;
	padding: 2% 0% 18% 3%;
	background-color: #EEEEEE;
}
#container-profile{
	width: 97%;
	padding: 2% 0% 18% 3%;
}
h1.your-profile {
	background: url(../img/icon/profile.png) no-repeat left center;
	padding: 5% 0 5% 12%;
	margin-left: 9%;
	background-size:25px;
}
.profile-user{
	width:100%;
	margin-bottom:2%;
	margin-left: 0%;
	position: relative;
	overflow: hidden;
}
.profile-label {margin-bottom : 5%;}
.profile-user h1 {
	background: #19B19E;
	border:10px solid #29CBB7;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 140px;
	height: 140px;
	float: left;
	padding: 0 0 0 0;
	color: #FFFFFF;
	font-size: 370%;
	font-family:"Open Sans Semibold";
	text-align: center;
	line-height: 140px;
	position:relative;
	z-index:99;
}
.profile-user .ur-name{
	padding: 3% 0% 1% 35%;
	/*float:left;*/
	width:66%;
}
.profile-user h2 {
	font-size: 320%;
	font-family:"Open Sans Light";
	padding:0%;
	width: 320px;
}
.profile-user h3 {
	font-size:185%;
	font-family:"Open Sans Semibold";
	padding: 3% 0% 0% 0%;
}
.profile-user h3 span {
	font-family:"Open Sans Light";
}
.map{
	height:215px;
	width:100%;
	position: relative;
	margin:2% 0 1% 0;
	-webkit-box-shadow: -3px 4px 6px -6px black;
	   -moz-box-shadow: -3px 4px 6px -6px black;
	        box-shadow: -3px 4px 6px -6px black;
}
.map h4.map-tit{
	background:url(../img/map-tit.png) repeat left top;
	line-height:120%;
	color:#FFFFFF;
	padding:1% 2%;
	margin:0 0 0 0%;
	position: absolute;
	width: 96%;
	bottom: 0%;
}
.map h4.map-tit span{
	font-weight:bold;
}
.tit{
	margin:0 0 5% 1%;
}
.tit h4{
	font-weight: bold;
	padding-bottom:1%;
}
.tit .check li{
	background:url(../img/icon/check.png) no-repeat left center;
	padding:1% 9%;
	float:left;
}
p.logo-profile{
	 text-align:center;
	 padding:30% 0% 30% 0%;
}
.profile-resume{
	background:#5C5C5C;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 999;
}
/*-- ipad fixed postion fixes --*/
    @media only screen and (device-width: 768px) {
      .profile-resume{position: static;}
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      .profile-resume{position: static;}
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      .profile-resume{position: static;}
    }

.profile-resume p{
	float:left;
	width:49%;
	text-align:center;
	padding: 5% 0;
	font-size: 320%;
	font-family:"Open Sans Light";
	/*border-bottom:1px solid #304543;*/
}
.profile-resume p a{
	color:#FFF;
	text-decoration:none;
}
.profile-resume p.get{
	width:50%;
	border-right:1px solid #9E9595;
	/*border-bottom:1px solid #304543;*/
}
.btm{
	background:#0D8475;
	border-bottom:1px solid #238F81;
	height:20px;
}
.maps{
	width:100%;
	height:215px;
}
#container-resume{
	background: #AAAAAA;
	width: 100%;
	height: 400px;
}

.send-resume{
	background:#5C5C5C;
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 0;
	border-bottom: 10px solid #0D8475;
}
.send-resume p{
	float:left;
	width:100%;
	text-align:center;
	padding: 2% 0;
	font-size: 320%;
	font-family:"Open Sans Light";
}
.send-resume p a{
	color:#FFF;
	text-decoration:none;
}
.profile-user .edit-name{
	background:#FFF;
	padding: 19px 0 14px 115px;
	margin:0;
	-webkit-box-shadow: -3px 4px 6px -6px black;
	-moz-box-shadow: -3px 4px 6px -6px black;
	box-shadow: -3px 4px 6px -6px black;
	height: 111px;
	position: absolute;
	width: 84%;
	top: 7px;
	z-index:0;
	left: 75px;
}
.diary-notes li p{
	font-size: 100%;
	line-height:150%;
}
/*.diary-notes li p.date{
	font-size: 80%;
}*/
.phone {
	float:none;
	margin-bottom:4%;
}
.phone p{
	float:left;
	color:#149C8B;
	font-family:"Open Sans Light";
	font-size:24px;
	line-height:150%;
	padding: 2% 0;
	width:15%;
}
.diary-notes li p.email{
	padding-bottom:0;
}
p.email a, .diary-notes li p.mail-add{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 150%;
	padding: 0;
	text-decoration:none;
}
p.email span, .diary-notes li p.mail-add a{
	color: #149C8B;
	font-family: "Open Sans Light";
	font-size: 24px;
	line-height: 150%;
	padding: 0;
}
.diary-notes li p.mail-add, .diary-notes li p.mail-add a{
	font-size: 16px;
	line-height: 225%;
	font-family: 'Open Sans', sans-serif;
}

.chk-box li{
	float:left;
	background: none;
	padding: 0;
	margin-bottom: 0%;
	box-shadow: none;
	font-size: 100%;
	display: flex;
	margin-right: 3%;
	line-height: 150%;
}
.chk-box li label{
	line-height: 150%;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	padding: 0 0% 0 3%;
}
#txt-area2{
	width: 94%;
	display: block;
	padding: 2% 3%;
	background-position: 0 0;
	overflow: hidden;
	line-height: 150%;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #AAAAAA;
	border: 0px solid #000;
	background: #EEEEEE;
	margin:3% 0 7% 0;
}
.profile-user h4.map-tit{
	bottom: 4%;
	left: 1%;
	z-index:99;
}


/*iPad screen start*/
#header1{
	background:#2ACCB8;
	width:94%;
	padding: 2.5% 3% 1% 3%;
	border-bottom:1px solid #46BFB0;
}
.logo1 {
	margin: -3px 20% 0 10%;
	width: 54%;
	text-align: center;
	position: absolute;
	z-index: 0;
	padding-left: 10%;
}
#header1 .home-top li{
	margin: 0 30px;
	font-size: 100%;
	line-height: normal;
}
#header1 .home-top li.last{
	margin: 0 0 0 30px;
}
#container1 {
	width: 94%;
	padding: 2% 3% 4% 3%;
}
h1.search-candidate {
	font-family:"Open Sans Light";
	background: url(../img/icon/search1.png) no-repeat left center;
	padding: 5% 0 5% 6%;
	font-size:240%;
	float: none;
	width: auto;
}
#container1 .diary-notes li.map-industries{
	background: none;
	padding:0%;
	margin-bottom: 2%;
	box-shadow: none;
}
#container1 .diary-notes li.map-industries li{
	background: none;
	float:left;
	width:56%;
	padding: 0%;
	box-shadow: none;
}
#container1 .diary-notes li.map-industries li.edit-map{
	width:41%;
	padding: 0% 0% 0% 0%;
	margin-right:3%;
	height: 232px;
}
#container1 .diary-notes li.map-industries li ul.industry li{
	width: 92%;
	background: #FFFFFF;
	padding: 3% 4% 2% 4%;
	margin-bottom: 4%;
	-webkit-box-shadow: -3px 4px 6px -6px black;
	-moz-box-shadow: -3px 4px 6px -6px black;
	box-shadow: -3px 4px 6px -6px black;
}
#container1 .diary-notes li {
	background: #FFFFFF;
	padding: 2% 3% 3% 3%;
	margin-bottom: 3%;
}
#container1 .ffSelect > a > span{
	font-size: 18px;
}
#container1 .diary-notes li.map-industries li ul.industry li .customSBDemo li{
	cursor: default;
	background-color: #fff;
	margin: 0;
	font-size: 100%;
	width: 100%;
	box-shadow: none;
	padding: 1%;
	height: auto;
}

.container-resume{
	background:#AAAAAA;
	width:80%;
	padding:0%;
	height: 400px;
}
p.m-btm-200{
	margin-bottom:200px;
}
p.m-btm-100{
	margin-bottom:100px;
}
select.select, select.select1{
	width: 100%;
	height: 61px;
	margin: 2% 0 3% 0;
	position: relative;
	background: #EEEEEE url(../img/select-arrow.png) no-repeat  right center;
	padding-right: 3px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
	text-decoration: none;
	cursor: default;
	margin-right: 40px;
	padding-left: 10px;
	line-height: 61px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 0px solid #000;
	outline : none;
    overflow : hidden;
    text-indent : 0.01px;
    text-overflow : '';

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select.select::-ms-expand{
    display: none;
}
select.select1{
	height: 46px;
	line-height: 46px;
	background: #EEEEEE url(../img/select-arrow1.png) no-repeat  right center;
	color:#AAAAAA;
}
#container1 p.date, #container1 .diary-notes li p.date{
	font-size: 14px;
}
#container1 .chk-box li label{
	font-size:18px;
	line-height:100%;
	padding:2% 0% 3% 25px;
	color:#333333;
}
#container1 .diary-notes li.map-industries li ul.industry li .chk-box li{
	width: auto;
	padding: 3% 0% 0% 0;
	background: none;
	box-shadow: none;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/icon/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
input[type=radio]:not(old):checked + label{
  background-position : 0 -24px;
}

#chk input[type=checkbox]:not(old),
#chk input[type=radio   ]:not(old){
  width   : 30px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
#chk input[type=checkbox]:not(old) + label,
#chk input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -30px;
  padding-left : 36px;
  background   : url('../img/icon/checks1.png') no-repeat 0 0;
  line-height  : 26px;
}
#chk input[type=checkbox]:not(old):checked + label{
  background-position : 0 -26px;
}
#chk input[type=radio]:not(old):checked + label{
  background-position : 0 -60px;
}

#container1 .diary-notes li.map-industries li ul.industry li.required-chk-box{
	width:95%;
	padding: 3% 1% 2% 4%;
	margin-bottom: 0;
}
.maps1 {
	width: 100%;
	height: 232px;
}
#container1 .diary-notes li.edit-map h4.map-tit a,  #container1 .profile-user h4.map-tit a {
	color: #FFFFFF;
	text-decoration: none;
}
#container1 .diary-notes li.edit-map h4.map-tit, #container1 .profile-user h4.map-tit {
	background: #333333;
	font-family: 'Open Sans', sans-serif;
	line-height: 120%;
	padding: 3px 4px;
	margin: 0 0 0 0%;
	position: absolute;
	width: auto;
	bottom: 4%;
	left: 3%;
	font-size: 10px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.search-role{

}
.create-role{
	background: #19B19E;
	width: 43%;
	margin-right:1%;
	float:left;
	padding:0;
}
.search-candidate{
	background: #2A8DCC;
	width: 56%;
	float:left;
	padding:0;
}
.create-role a, .search-candidate a{
	padding:12% 0 11.5%;
	text-align:center;
	display: block;
	color:#FFFFFF;
	font-size:24px;
	line-height:120%;
	text-decoration:none;
	text-shadow: 1px 2px 0px rgba(0,0,0, 0.2);
}
.search-candidate a{
	background: url(../img/icon/search2.png) no-repeat 22% center;
	padding:9% 0 9% 8%;
}
#txt-field2, #txt-field3, #txt-field4 {
	font-family: 'Open Sans', sans-serif;
	height: auto;
	width: 76%;
	padding: 2% 2%;
	font-size: 24px;
	line-height: 160%;
	color: #333333;
	float: right;
	background: #EEEEEE;
	border: 0;
	margin: 0 2% 0 3%;
}
#txt-field3{
	color:#AAAAAA;
}
#txt-field4{
	float:none;
	width: 96%;
	margin: 0;
	padding: 1% 2%;
	font-size: 18px;
	line-height: 100%;
	color:#AAAAAA;
}
.search-candidates {
	width: 94%;
	padding: 2% 3%;
	background-color: #FFF;
}
.bg-search{
	background-color: #EEEEEE;
}
.search-role1{
	padding: 1% 0 0 0;
}
.search-role1 .create-role{
	width:48%;
	margin-right:0%;
	background:none;
}
.search-role1 .search-candidate{
	width:48%;
	float:right;
}
.search-role1 .create-role h2{
	font-family:"Open Sans Light";
	font-size:24px;
	line-height:120%;
}
.search-role1 .create-role p{
	font-size:14px;
	line-height:170%;
}
.search-role1 .search-candidate a{
	background: url(../img/icon/search2.png) no-repeat 18% center;
	padding: 10% 0 10% 8%;
}
.active-roles{
	background:#EEEEEE;
	width:36%;
	float:left;
	position: relative;
}
.recent-added{
	background:#DDDDDD;
	width:64%;
	float:left;
}
.active-roles h2, .recent-added h2{
	background:#149C8B url(../img/icon/active-role.png) no-repeat 28px center;
	display: block;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 34px;
	text-decoration: none;
	text-shadow: 1px 2px 0px rgba(0,0,0, 0.2);
	padding: 20px 0 20px 80px;
	height: 34px;
}
.recent-added h2{
	background:#0D8475 url(../img/icon/user1.png) no-repeat 21px center;
	padding: 20px 0 20px 70px;
}
.active-roles h3.add-role{
	position:absolute;
	bottom:0;
	height:50px;
	line-height:50px;
	background:url(../img/add-role-bg.png) repeat left top;
	width:100%;
	text-align:center;
}
.active-roles h3.add-role a{
	color:#FFF;
	font-size:24px;
	font-family:"Open Sans Light";
	text-decoration:none;
}
#roles ul.diary-notes{
	width: 93%;
	margin: 6% 0% 0 0;
	height: 450px;
	overflow: auto
}
#roles .diary-notes li {
	background: #FFFFFF;
	padding: 3.8% 5% 2% 13%;
	margin-bottom: 12px;
	-webkit-box-shadow: 3px 4px 6px -6px black;
	-moz-box-shadow: 3px 4px 6px -6px black;
	box-shadow: 3px 4px 6px -6px black;
}
#roles .diary-notes li p{
	font-size: 16px;
	line-height: 150%;
	padding-bottom: 0%;
}
#roles .diary-notes li p.comp{
	color:#149C8B;
	font-family:"Open Sans Light";
}
.recent-added ul.recent-add{
	width: 97%;
	margin: 3% 0 0 3%;
	height: 453px;
	overflow: auto
}
.recent-added li.add-candidate {
	width: 100%;
	margin-bottom: 12px;
	margin-left: 0%;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 32px 4px 6px -6px black;
	-moz-box-shadow: 32px 4px 6px -6px black;
	box-shadow: 32px 4px 6px -6px black;
}
li.add-candidate h1 {
	background: #19B19E;
	border: 5px solid #29CBB7;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 61px;
	height: 61px;
	float: left;
	padding: 0 0 0 0;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Open Sans Semibold";
	text-align: center;
	line-height: 60px;
	position: relative;
	z-index: 99;
}
.add-candidate .edit-name {
	background: #FFF;
	padding: 10px 0 5px 55px;
	margin: 0;
	height: 56px;
	position: absolute;
	width: 90%;
	top: 0px;
	z-index: 0;
	left: 45px;
}
.add-candidate h2 {
	font-size:23px;
	font-family: "Open Sans Light";
	padding: 0%;
	width: auto;
	background:none;
	color:#333333;
	text-shadow:none;
}
.add-candidate h3 {
	font-size: 16px;
	font-family: "Open Sans Light";
	padding: 0%;
	width: auto;
	color:#149C8B;
}
#roles .diary-notes li:last-child{
	margin-bottom:18%;
}
.edit-search{
	position: absolute;
	top: 0;
	left: 0;
	background: #19B19E;
	width: 29%; 
	max-height: 375px;
	padding: 1% 3% 2% 2%;
	float: left;
}
.edit-search p{
	font-size: 14px;
	color:#FFF;
	padding: 2% 0 4% 5%;
}
.edit-search input {
	height: 31px;
	width: 97%;
	padding: 3% 0% 3% 3%;
	border: 0px solid #E5E5E5;
	font-size: 18px;
	font-weight: normal;
	background:#2A8DCC url(../img/icon/search.png) no-repeat 26% center;
	color: #FFFFFF;
	font-style: normal;
	line-height: 31px\9;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 1px rgba(0,0,0, 0.2);
}
/*Tabs*/
.demo {
	width: 100%;
	margin: 0px auto;
}
ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0;
	list-style: none;
	cursor: pointer;
	float: left;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 0px;
}
.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
	border-bottom: none;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #c1c1c1;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 33%;
	background: #535A61;
	position:relative;  
	height: 575px;
	overflow: auto;
	padding-top: 12px; 
	overflow-x:hidden;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 0px 0 0 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
	margin-bottom:3%;
}
.resp-vtabs .resp-tabs-list li.add-candidate {
	position:relative;
}
.resp-vtabs .resp-tabs-container {
	float: left;
	width: 62%;
	height: 625px;
	overflow: auto;
	clear: none;
	padding: 2.5%;
	position:relative;
}
.resp-vtabs .resp-tab-content {
	border: none;
	padding-bottom: 7%;
}
.resp-vtabs li.resp-tab-active {
	border: 0px solid #c1c1c1;
	position: relative;
	z-index: 1;
	margin-right: 0px !important;
	padding: 0px 0 0 15px !important;
	margin-bottom:3% !important;
}
.resp-vtabs li.resp-tab-active .edit-name {
	background: #2ACCB8;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 15px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #2ACCB8 !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}
.demo .add-candidate .edit-name {
	width: 94%;
	background: #6E7A84;
	left: 52px;
	padding: 0px 0 0 48px;
	height: 71px;
}
.demo li.add-candidate h1 {
	background: #6E7A84;
	border: 5px solid #83909B;
}
.demo .add-candidate h2 {
	color: #FFF;
	font-size: 18px;
	padding: 3% 0 0 0;
}
.demo .add-candidate h3 {
	color: #434A50;
	font-weight:bold;
	font-size:14px;
	padding: 1% 0;
	font-family: 'Open Sans', sans-serif;
}
.demo .resp-vtabs li.resp-tab-active h3 {
	color: #0D8475;
	padding:1% 0 2% 0;
}
.demo .resp-vtabs li.resp-tab-active h1 {
	background: #19B19E;
	border: 5px solid #29CBB7;
}
.demo .resp-vtabs li.resp-tab-active h2 {
	padding:1% 0 0 0;
}
.demo .resp-vtabs li.resp-tab-active h4 {
	text-transform:uppercase;
	color:#A3F3E9;
	font-size:9px;
	background:url(../img/swipe.png) no-repeat left center;
	padding-left:9%;
	font-family: "Open Sans Semibold";
	height:9px;
	display:block;
}
.demo .resp-vtabs li h4 {
	display:none;
}
.resp-vtabs .resp-tabs-container .profile-user {
	margin-bottom: 3%;
}
.resp-vtabs .resp-tabs-container .profile-user h2 {
	width:auto;
	font-size: 36px;
}
.resp-vtabs .resp-tabs-container .profile-user h1 {
	width: 110px;
	height: 110px;
	font-size: 36px;
	line-height: 110px;
	border: 5px solid #29CBB7;
}
.resp-vtabs .resp-tabs-container .profile-user .ur-name {
	padding: 6% 0% 1% 4%;
	width: auto;
}
.resp-vtabs .resp-tabs-container .tit {
	margin: 0 0 4% 0%;
}
.resp-vtabs .resp-tabs-container .tit h4 {
	font-size: 14px;
}
.resp-vtabs .resp-tabs-container .map {
	box-shadow:none;
	height:auto;
	margin:0;
}
.resp-vtabs .resp-tabs-container .maps {
	float: left;
	width: 62%;
	height:166px;
}
.resp-vtabs .resp-tabs-container .map-tit {
	float: left;
	width: 26%;
	height:128px;
	background:#EEEEEE;
	position:relative;
	padding:2% 10% 3% 2%;
	color:#333333;
	font-size:14px;
	font-weight:normal;
	line-height:170%;
}
.resp-vtabs .resp-tabs-container .map h4.map-tit span {
	font-weight: normal;
	font-size:18px;
}
.resp-vtabs .resp-tabs-container .chk-box li label {
	font-size:18px;
}
.resp-vtabs .resp-tabs-container .tit p {
	font-size:18px;
}
.browse-tit {
	width:48%;
	float:left;
	margin-right:4%
}
.browse-tit1 {
	margin-right:0;
}
.resp-vtabs .resp-tabs-container .browse-tit .tit {
	margin:0 0 9% 0%;
}
.shortlist {
	position:fixed;
	background:url(../img/add-role-bg.png) repeat left top;
	width: 62%;
	height: auto;
	bottom: 0;
	right: 0;
	padding: 2.5% 2.5% 2.5% 2.8%;
}
.demo {
	position:relative;
}
.currently {
	float:left;
	width:50%;
	height: 60px !important;
	overflow-y: scroll;
}
.currently h4 {
	font-size:18px;
	color:#FFF;
}
.currently p {
	font-size:14px;
	color:#FFF;
}
.currently p span {
	font-weight:bold;
}
.shortlisted {
	float:right;
	width:auto;
	height:auto;
	background:#E3B62C url(../img/shortlist.png) no-repeat 25% center;
	text-align:center;
	padding:3% 6% 3% 12%;
	font-size:18px;
	color:#FFF;
	font-weight: 100;
	font-family: "Open Sans Light";
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
/*Tabs*/



.view-active-roles .add-candidate .edit-name{
	width: 95%;
	position: static;
	padding: 5% 0 5% 5%;
	height: auto;
	-webkit-box-shadow: -3px 4px 6px -6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -3px 4px 6px -6px rgba(0, 0, 0, 0.2);
	 box-shadow: -3px 4px 6px -6px rgba(0, 0, 0, 0.2);
}
.view-active-roles .resp-vtabs li.resp-tab-active h3, .view-active-roles .resp-vtabs li.resp-tab-active h2, .view-active-roles .add-candidate h2, .view-active-roles .add-candidate h3{
	padding: 0%;
}
.view-active-roles .add-candidate h3 span{
	font-weight:normal;
}
.view-active-roles .edit-search p.add-new-role {
	height: 31px;
	width: 97%;
	padding: 3% 0% 3% 3%;
	border: 0px solid #E5E5E5;
	font-size: 18px;
	font-weight: normal;
	background: #2ACCB8;
	color: #FFFFFF;
	font-style: normal;
	line-height: 31px\9;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 1px rgba(0,0,0, 0.2);
}
.view-active-roles .resp-vtabs .resp-tabs-container .profile-user .ur-name{
	padding: 0% 0% 1% 0%;
}
.view-active-roles .resp-vtabs .resp-tabs-container .profile-user .ur-name h1, .view-active-roles .resp-vtabs .resp-tabs-container .profile-user .ur-name h2{
	width: auto;
	background: none;
	border: none;
	height: auto;
	line-height: 120%;
	color: #333333;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.view-active-roles .resp-vtabs .resp-tabs-container .profile-user .ur-name h2{
	font-family: "Open Sans Light";
}
.view-active-roles .shortlist .search-candidate, .view-active-roles .shortlist .shortlisted, .view-active-roles .shortlist .edit-role{
	background:none;
	width: auto;
	padding: 0;
	float: none;
	margin:0;
}
.view-active-roles .shortlist .edit-role a, .view-active-roles .shortlist .shortlisted a, .view-active-roles .shortlist .search-candidate a {
	float: left;
	width: auto;
	height: auto;
	background: #2A8DCC url(../img/icon/search.png) no-repeat 9% center;
	text-align: center;
	padding:4% 3% 4% 8%;
	font-size: 18px;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-decoration:none;
	line-height:100%;
}
.view-active-roles .shortlist .edit-role a{
	background: #19B19E url(../img/icon/edit-role.png) no-repeat 15% center;
}
.view-active-roles .shortlist .shortlisted a{
	background: #E3B62C url(../img/shortlist.png) no-repeat 15% center;
}
.search-candidate a{
	margin: 0 3%;
}
#popup{
	padding: 27px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 476px;
	height: 100%;
	z-index: 9999;
}
#modal-text{
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	transition: opacity 0.4s;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	color: #222;
	line-height: 1.3;
	display: block;
}
#modal-text .modal-inner {
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 20;
	margin-left: -255px;
	width: 530px;
	overflow: hidden;
	height: 50%;
	background: #EEEEEE;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#modal-text .modal-bg{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: url(../img/bg/popup-bg.png) repeat left top;
}
#modal-text #popup .profile-user .ur-name {
	padding: 3% 0% 1% 4%;
	float: left;
	width: 78%;
}
#modal-text #popup .profile-user h1{
	width: 70px;
	height: 70px;
	border: 5px solid #29CBB7;
	font-size: 24px;
	line-height: 70px;
	z-index: 99;
}
#modal-text #popup .profile-user h2{
	font-size: 36px;
	width: auto;
	margin-bottom:2%;
}
#modal-text #popup .profile-user h3 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin: 3% 0% 0% 0%;
	background: url(../img/star.png) no-repeat left top;
	padding: 0 0 0 8%;
}

#modal-text #popup .diary-notes li p {
	font-size: 16px;
	line-height: 150%;
	padding-bottom: 0%;
}
#modal-text #popup .diary-notes li p.comp {
	color: #149C8B;
	font-family: "Open Sans Light";
}
#modal-text #popup .diary-notes li {
	background: #FFFFFF;
	padding: 2.8% 5% 2.2% 6%;
	margin-bottom: 4%;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
#modal-text #popup .diary-notes li.last{
	margin-bottom:0;
}

.add-new-role .modal-inner {
	top:12%;
	left: 22%;
	z-index: 20;
	margin-left: -20%;
	width: 96%;
}
.add-new-role .modal-close:after {
	top: 12%;
	left: 76%;
	margin-left: 18%;
}
.add-new-role h2{
	font-size: 36px;
	font-family: "Open Sans Light";
	padding: 0%;
	width: 320px;
}
#modal-text #popup h1{
	font-size: 36px;
	font-family: "Open Sans Light";
	padding: 0%;
	width: auto;
	padding: 0% 0% 2% 0%;
}
#modal-text #modal-inner{
	left: 3%;
	margin-left: 0%;
	width: 94%;
	top: 6%;
	height: 89%;
	overflow:hidden;
}
#modal-text #modal-inner #popup{
	width: 94%;
	height: 90%;
	padding: 3% 3% 3% 3%;
	top: 0;
	position: absolute;
	
}
#modal-text #modal-inner #popup ul.diary-notes{
	width:49%;
	float:left;
}
#modal-text #modal-inner #popup ul.popup-rht{
	margin-left: 2%;
}
#modal-text #modal-inner #popup .profile-resume{
	position:relative;
	background:none;
}
#modal-text #modal-inner #popup .profile-resume p{
	margin:0;
	padding:5% 0;
	border:0;
	font-size:24px;
}
#modal-text #modal-inner #popup .profile-resume p.get{
	width: 30%;
	margin-right: 1%;
	border-right: 0px solid #FFF;
	border-bottom:0px solid #304543;
	background:#AAAAAA;
}
#modal-text #modal-inner #popup .profile-resume p.create-rol{
	width: 69%;
	margin-right: 0%;
	background:#2ACCB8;
}
#modal-text #modal-inner #popup .profile-resume p a{
	padding: 0;
	margin: 0;
	text-shadow: 1px 2px 0px rgba(0,0,0, 0.2);
}
#modal-text #modal-inner #popup #txt-field4{
	padding: 3% 2%;
	margin: 2% 0 3% 0;
}
#modal-text #modal-inner #popup  select.select, #modal-text #modal-inner #popup  select.select1{
	height:46px;
	line-height: 46px;
	background: #EEEEEE url(../img/select-arrow1.png) no-repeat right center;
}
#modal-text #modal-inner #popup #txt-area2{
	margin: 2% 0 3% 0;
	line-height: 125%;
	min-height: 95px;
}
#modal-text #modal-inner #popup .diary-notes li.edit-map{
	padding: 0;
	background: none;
	box-shadow: none;
	height: 180px;
}
#modal-text #modal-inner #popup .maps {
	width: 100%;
	height: 180px;
}
#modal-text #modal-inner #popup #chk1 li{
	background: none;
	box-shadow: none;
	padding: 4% 1% 4% 0%;
	margin: 0;
}
#modal-text #modal-inner #popup .diary-notes li{
	padding: 2% 5% 2% 5%;
}
#modal-text #modal-inner #popup #chk1 li label{
	font-size: 17px;
}
#modal-text #modal-inner #popup h1{
	padding: 0% 0% 2% 0%;line-height:0;margin-top: 3%;margin-bottom: 2%;
}
#modal-text #modal-inner #popup .diary-notes li.edit-map h4.map-tit{
	font-size: 10px;
	margin: 0 0 10px 10px;
}
#container1 .diary-notes li.map-industries li ul.industry li.required-chk-box{
	padding: 3% 1% 1% 4%;
}
.profile-top-border{background :#19B19E; height:10px;}
.chk-box li,.map-industries{border-bottom:none !important;}
.due_date_D{float:left;width:30% !important;margin-right:1% !important;display: inline-table !important; padding-left: 5px !important;}
.due_date_M{float:left;width:30% !important;margin-right:1% !important;display: inline-table !important; padding-left: 5px !important;}
.due_date_Y{width:33% !important;margin-right:1% !important;display: inline-table !important; padding-left: 5px !important;}
.dob_date_D{float:left;margin-left: 3% !important;width:17% !important;margin-right:1% !important;display: inline-table !important; padding-left: 2px !important;}
.dob_date_M{float:left;width:21% !important;margin-right:1% !important;display: inline-table !important; padding-left: 5px !important;}
.dob_date_Y{width:25% !important;margin-right:1% !important;display: inline-table !important; padding-left: 5px !important; }
.profile-select{width: 80% !important;margin-left: 18% !important;}
.profile-textbox{width: 92% !important;}
.floatNone{float:none;}
.error{
	display: block !important;
	font-size: 60%;
	font-weight: 500;
	color: rgb(250, 33, 33);
}
.capitalize{
	text-transform: capitalize;
}
.loadingBar{
	width:32px;
	margin:0 auto;
}

.shortlist-left{
width: auto;
background: #E3B62C url(../img/shortlist.png) no-repeat 20% center;
text-align: center;
padding: 3% 12%;
font-size: 18px;
color: #FFF;
font-family: 'Open Sans', sans-serif;
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
margin-top: 12px;
height: 22px;
}
@media only screen and (max-width: 1024px) {.shortlist-left{padding: 4% 12%;background: #E3B62C url(../img/shortlist.png) no-repeat 10% center;}.profile-select{width: 80% !important;margin-left: 21.2% !important;}}

@media only screen and (max-width: 768px) {.shortlist-left{padding: 3% 12%;}.profile-select{width: 77% !important;margin-left: 26% !important;}}
 
/*.inner-overlay-height{max-height:400px !important;}*/

.fixed-role{
	position: fixed !important;
	z-index: 999 !important;
	width: 100% !important;
	bottom: 0 !important;
}
.fixed-role-big{
	position: fixed !important;
	z-index: 999 !important;
	width: 36% !important;
	bottom: 0 !important;
}
.country {
width: 77% !important; 
margin: 2% 0 3% 21% !important;
}
.uppercase{text-transform: uppercase;}
.view-active-role-search{height: 115px !important;}
.view-active-role-list{margin-top: 140px;}
.view-browse-list{margin-top: 180px;}
.shortlist-span{font-family: 'Open Sans', sans-serif !important;}
.role-title-popup{line-height: 1.15;float: left;margin-left: 2%;}
.role-employer-popup{line-height: 1.15;float: left;margin-left: 5px;font-family: "Open Sans Light";}
.active-role-min-height{min-height: 20px;}
.yellow-star{background: url(../img/icon/star-yellow.PNG) no-repeat;width: 65px;height: 65px;float: left;background-size: 100%;}
.view-active-role .edit-name{width: 100%;padding:2% 0;top: 0px;left: 10%;height: 80px;}
.view-active-role .edit-name .name{font-size: 30px;margin:0 0 0 4%;line-height:1.5;}
.view-active-role .edit-name .inner-name{color: #149c8b;font-size: 15px;font-weight: bold;line-height:0.5;margin: 0 0 0 4%;}
.browse-candidates-fixed {width: 100% !important;border-bottom:none !important;z-index: 99 !important;}
.browse-candidates-fixed p{font-size: 115%;}
.underline{text-decoration:underline;}


 
/* Hide our checkboxes */
.check-switch input[type="checkbox"] { 
  position: absolute;
  opacity: 0;
}

label.check-switch {
  clear: both;
  color: #999;
  display:inline-block;
  height: 85%;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Default Track */
.check-switch input[type="checkbox"] + .track {
  vertical-align: middle;
  width: 1.9588em;
  height:.85em;
  padding: 2px;
  border: 1px solid #E3E3E3;
  border-radius: 999px;
  background-color: #EEEEEE;
  -webkit-transition-duration: .3s;
  -webkit-transition-property: background-color, box-shadow; 
  margin: .5em 0 50px 0;
  cursor: pointer;
}

/* Default Track Checked */
.check-switch input[type="checkbox"]:checked + div { 
  padding: 2px; 
}

/* Default Knob */
.check-switch input[type="checkbox"] + div > div {
  left: 0;
  width: .85em;
  height: .85em;
  border-radius: inherit;
  background: #AAAAAA;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.3s;
  -moz-transition-property: transform, background-color; 
  margin-top: 0;
}

/* Default Knob Checked */
.check-switch input[type="checkbox"]:checked + div > div {
  left: 0.699em; 
  
}

.checkBoxRight{float: right;background-color:#65C7C6 !important;}
.checkbox-container{position: relative;top: -65px;}
.checkbox-label{font-size: 150%;}
.checkbox-inner-container{line-height:0;display: inline-block;position: relative;top: 60px;}

.settings,.upskills{	padding: 3% 0 3% 0;	margin:0 5% 0 7%;}
.settings h1{background:url(../img/settings.PNG) no-repeat left center;padding: 2% 0 2% 12%;float:left;} 
.upskills h1{background:url(../img/upskill.PNG) no-repeat left center;padding: 2% 0 2% 12%;float:left;}
.gray{color:#AAAAAA;}
.logout-text,.logout-text a{font-size: 120% !important;padding :0 !important;}

.change-password{background: #2ACCB8;width:97%;color:#ffffff;padding:5% 0;text-align:center;font-size:125%;font-family: 'Open Sans', sans-serif;}
.upskillContainer{min-height: 600px !important;}
.shortlistAllLabel{font-size: 34px !important;margin-left:0 !important;}
.shortlistAllTap{font-size: 17px !important;margin-left:0 !important;}
.shortlisted-confirmation{
	font-family: "Open Sans Light" !important;
	font-size:160% !important;
	background: url('../img/tick.png');
	background-repeat: no-repeat;
	padding-left: 13%;
	margin: 3% 3% 3% 4%;
} 
.resp-vtabs{display: block; width: 100%; margin: 0px;}
.login-error{padding: 3%;}
.pdf-iframe{padding-bottom:47px;margin: 0 auto;}
.settings-tit{margin:0;font-family: 'Open Sans', sans-serif;}
.shortlist-width{width:10%;}
.edit-map .diary-notes {background: #ffffff;}
.edit-map .diary-notes li{width:100% !important;margin-bottom:0 !important;background: #FFFFFF !important;}
.edit-map .diary-notes li p{padding: 3% 4% 2% 4%;}
.edit-map .diary-notes li .profile-select {width: 93% !important;margin-left: 5% !important;clear:both;}
.edit-map .diary-notes li #txt-field2{width:89% !important;}
.edit-map{height: 100% !important;}
.map-select{margin-left: 5% !important;width: 93% !important;}
.map-input{width: 89%;margin-left: 5%;}
/*.scrollY{overflow-y:scroll !important; }*/
 select{
 	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
 }
 input,textarea{border-radius: 2px !important;}
.scroll-width-shortlist{padding-right: 20px!important;overflow-x:hidden;}
.scroll-model1 .diary-notes li{width: 94%}
.scroll-model2 .diary-notes .profile-user {width: 105%;}
.change-password{
	font-family: "Open Sans Light";  
	font-size: 140%; 
}
@media (min-height: 500px) {
  .fixedBottom{position: fixed;bottom: 0;width:100%;}
}
.active-roles,.recent-added{height: inherit;}
.floatLeft{float:left;}
.invisibleButton{height:0;width:0;padding:0;margin:0;border:none;}
#viewContainer{padding-top: 69px;}

