/* ---------- Color Module Styles ----------- */

body {
  color: #707070;
  background-color: #fdfdfd;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #0064bc;
}
a:focus , a:link, a:active {
  outline: none;
}
a:hover {
  color: #10b797;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
}


/*--- loader -----*/
.loadingBar {
  background-image: url("../img/icons/loader-icon.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/*--- dividers --*/
hr {
  background-color: #bababa;
}
.dividerline {
  border-color: #bababa;
}


/*-- form elements---*/
input[type=text],
input[type=email],
input[type=password],
textarea,
textarea.form-textarea,
input[type=search], select.form-select {
  background-color: #fff;
  border: solid 1px #bbbbbb;
}
select.form-select {
  color: #707070;
}
label {
  color: #939393;
}
textarea:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=search]:focus {
  background-color: #ffffff;
}
button,
.button,
input[type="submit"],
input[type="button"],
.form-submit {
  background-color: #10b797;
  color: #ffffff;
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.form-submit:hover {
  color: #ffffff;
}
.button.grey {
  background-color: #afafaf;
}

/*----- notification, error msg box----*/
#notification, .notificationmsg {
  background-color: #ffffff;
  border-left: 6px solid #10b797;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
#notification h1 {
  color: #10b797;
}
.error {
  color: #ff0c17;
}
.success {
  color: green;
}

/* ----- selected text -------- */
::-moz-selection{ background-color: #fed175; color: #ffffff; text-shadow: none; }
::selection { background-color: #fed175; color: #ffffff; text-shadow: none; } 

/*--- page section start----*/
#header {
  background-color: #031d40;
  color: #fff;
}
#header a {
  color: #fff;
}
.top-links ul.menu li a {
  background-color: #28343a;
}
.top-links ul.menu li a:hover, .top-links ul.menu li a.active {
  background-color: #10b797;
}
/*--- browse button ---*/
ul.browse-button li a {
  background-color: #041e40;
  color: #fff;
}
ul.browse-button li a:hover {
  background-color: #10b797;
}

#footer {
  color: #000;
  border-top: 2px solid #10294a;
}






