
.relative {
  position: relative;
}
/* aligns */
.alignleft, .align-left {
  float: left;
}
.alignright, .align-right {
  float: right;
}
.aligncenter, .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright, img.align-right {
  margin: 5px 0 15px 15px;
}
img.alignnone, img.align-none {
  margin: 5px 15px 15px 0;
  display: block;
}
img.alignleft, img.align-left {
  margin: 0 15px 15px 0;
}
img.aligncenter, img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textleft, .text-left {
  text-align: left;
}
.textright, .text-right {
  text-align: right;
}
.textcenter, .text-center {
  text-align: center;
}
.textjustify, .text-justify {
  text-align: justify;
}
.textuppercase, .text-uppercase {
  text-transform: uppercase;
}
.fontbold, .font-bold, .bold {
  font-weight: 600;
}


/* clearing floats */
.clear {
  clear: both;
  margin: 0;
  padding: 0;
}
.clear:after {
  clear: both;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}

/* ---Dividers ---*/
hr {
  border: 0;
  height: 1px;
  margin: 30px 0;
}
.dividerline {
  margin: 30px auto;
}
.dividerline.single-line {
  border-top: 1px solid #d0d3d4;
}
.dividerline.double-line {
  border-top: 4px double #d0d3d4;
}
.dividerline.single-dotted {
  border-top: 1px dotted #d0d3d4;
}
.dividerline.double-dotted {
  border-top: 1px dotted #d0d3d4;
  position:relative;
}
.dividerline.double-dotted:after {
  border-top: 1px dotted #d0d3d4;
  content: '';
  left: 0;
  position: absolute;
  bottom: -3px;
  width: 100%;
}

/* ---- images ----- */
.img-rounded, .img-circle, .img-polaroid {
  padding: 4px;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.3);
  background-color: #fff;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.img-polaroid {
  padding: 4px;
}


/*--- form elements ---*/
.form-item {
  margin-bottom: 20px;
}
.form-item label {
  display: block;
}
input,
textarea,
select,
input[type=search],
button {
  max-width: 100%;
}
input[type=text],
input[type=email],
input[type=password],
textarea,
textarea.form-textarea,
input[type=search] {
  padding: 12px 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* --- form focus --- */
textarea:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=search]:focus {
  outline: none;
}
.form-text, select.form-select {
  display: block;
  width: 100%;
}
select.form-select {
  padding: 0 18px;
}
select.form-select option {
  padding: 15px;
}


/* Buttons */
button,
input[type="submit"],
input[type="button"],
.form-submit {
  display: inline-block;
  padding: 10px 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.form-submit:hover {
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
.form-submit:active {
  position: relative;
}

/*-- notification msg --*/
.notificationmsg {
  margin: 20px 0;
  padding: 20px;
}


