
/*--- header ---*/
.logo-area {
  float: left;
  vertical-align: top;
}
.logo-area .logo, .logo-area #site-name {
  display: inline;
  vertical-align: top;
  float: left;
}
.logo-area #site-name {
  padding: 20px 5px 0 10px;
  display: none;
}
.top-links {
  float: right;
  padding: 12px 0;
}
.top-links ul.menu, .top-links ul.menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.top-links ul.menu li {
  display: inline;
  float: left;
  padding-left: 5px;
}
.top-links ul.menu li a {
  padding: 11px 20px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  display: block;
}

/*---- preface ---*/
.preface {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.browsing-wrapper {
  clear: both;
  margin: 30px 20px 40px 20px;
  overflow: hidden;
}
ul.browse-button, ul.browse-button li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.browse-button li {
  display: inline;
  float: left;
  width: 100%;
}
ul.browse-button li a {
  padding: 12px;
  display: block;
  margin: 2px;
}
ul.browse-button li a.active {
  text-decoration: underline;
}
.search-by-alphabet {
  font-size: 24px;
  font-weight: bold;
  list-style: outside none none;
  margin: 0px 0px 2em;
  padding: 0px;
  text-align: center;
}
.search-by-alphabet a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
.search-by-alphabet a:hover {
  color: #C62E32;
  text-decoration: underline;
}

/*--- users-list ---*/
.users-list-container h2.index {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 0px 0.83em;
  border-bottom: 1px dashed #CCC;
  color: #777;
}
ul.users-list, ul.users-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.users-list-container ul.users-list li {
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 80px;
  margin: 0px 0 35px 0;
  width: 100%;
}
.users-list-container ul.users-list li .avatar {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 0;
  box-shadow: 0px 0px 6px rgba(0, 100, 188, 0.5);
}
.users-list-container ul.users-list li .info {
  padding: 19px 0px 19px 100px;
  display: table-cell;
  width: 180px;
  z-index: 1;
}
.users-list-container ul.users-list li .user-name a {
  text-decoration: underline;
}

/*---- directory-list ---*/
.directory-list {
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}
.directory-list .directory-header {
  margin-bottom: 5px;
  overflow: hidden;
}
.directory-list .directory-header label {
  background-color: #d5e9f6;
  color: #3083ae;
  font-size: 14px;
  padding: 5px 8px;
  display: inline-block;
}
.directory-list ul.users-list li {
  display: block;
  float: left;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 2px;
  box-shadow: 0px 0px 6px rgba(0, 100, 188, 0.5);
  font-size: 14px;
}
.directory-list ul.users-list li a {
  display: block;
  height: 30px;
  width: 30px;
}
.directory-list ul.users-list li .avatar {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  position: relative;
}


/*--- login, register, forgot box ---*/
#login-container, #user-register-container, #password-container {
  max-width: 600px;
  margin: auto;
}
#login-container h2.title, #user-register-container h2.title {
  text-align: center;
}
.login-content .form-type-checkbox {
  margin-bottom: 30px;
}
.login-content .form-submit, .login-content .button, #user-register-container .form-submit, 
#password-container .form-submit {
  width: 100%;
}

/*----- user-profile ---*/
.user-profile {
  clear: both;
}
.user-profile h2.title {
  text-align: center;
}

/*----- user profile ----*/
.users-profile-container {
  text-align: center;
}
.users-profile-container .user-image img{
  width: 120px;
  height: 120px;
  border: 2px solid #000;
  border-radius: 50%;
}
.users-profile-container .social-icons {
  margin: 10px 0;
}
.users-profile-container .kt-tags {
  margin: 10px 0;
}
.users-profile-container .kt-tags .tags {
  color: #fff;
  background-color: #5096ce;
  border: 1px solid #2a6899;
  padding: 4px 10px;
  display: inline-block;
  margin: 0 2px;
}

/*--- category-list-container ---*/

.category-list-container {
  clear: both;
  margin-top: 30px;
  overflow: hidden;
}
.category-list-container .category-header {
  margin: 10px 0;
  display: block;
}
.category-list-container .category-header label {
  background-color: #d5e9f6;
  color: #3083ae;
  font-size: 16px;
  padding: 5px 8px;
  display: inline-block;
}
.category-list-container ul.users-list li {
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 80px;
  margin: 0px 0 35px 0;
  width: 100%;
}
.category-list-container ul.users-list li .avatar {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 0;
  box-shadow: 0px 0px 6px rgba(0, 100, 188, 0.5);
}
.category-list-container ul.users-list li .info {
  padding: 19px 0px 19px 100px;
  display: table-cell;
  width: 180px;
  z-index: 1;
}



/*--- loader -----*/
.loadingBar {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-image: url("../img/loader-icon.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/*---- footer ---*/
#footer img {
  vertical-align: middle;
}


/*--- media quiries ---*/
@media all and (max-width: 481px) {
  .logo-area .logo {
    width: 100px;
    height: auto;
  }
  .top-links ul.menu li a {
    padding: 11px 10px;
    font-size: 13px;
  }
}
@media all and (min-width: 767px) {
  .logo-area #site-name {
    display: block;
  }
  ul.browse-button li {
    width: 50%;
  }
  .users-list-container ul.users-list li {
    width: 33.333333%;
  }
}

@media all and (min-width: 981px) {

}

