<div class="profile-top-border" scroll-to=""></div>
<div id="container-profile">
  <h1 class="your-profile">Your Profile</h1>

  <div class="profile-user">
    <h1 class="uppercase">{{users.profile.field_first_name | cut:true:1:''}}{{users.profile.field_last_name |
      cut:true:1:''}}</h1>

    <div class="ur-name">
      <h2 class="capitalize">{{users.profile.field_first_name}} {{users.profile.field_last_name}}</h2>
      <!-- status for Jobseeker profile -->
      <h3 ng-show="!userHasRole"><span>Status</span>

        <div ng-if="users.profile.field_status ==1">Seeking Employment</div>
        <div ng-if="users.profile.field_status ==2">Not Seeking Employment</div>
      </h3>
      <!-- organistion name for Employer profile -->
      <h3 ng-show="userHasRole">
      <span>{{getOrgByName(users.profile.field_organisation.target_id)}}</span>
      </h3>

    </div>
    <div>
      
    </div>
    <div class="clear clearfix"></div>
  </div>
  <div class="tit" ng-if="locationState && (users.profile.field_geo.lat!=null && users.profile.field_geo.lon!=null)">
    <h4>Location</h4>

    <div class="map">
      <iframe lat="{{users.profile.field_geo.lat}}" lon="{{users.profile.field_geo.lon}}" iframe-src></iframe>
      <h4 class="map-tit">
        <span>{{users.profile.field_address.locality}}, {{users.profile.field_address.thoroughfare}}.</span> Will travel
        10km.</h4>
    </div>
    <div class="clear clearfix"></div>
  </div>


  <div class="tit" ng-if="!userHasRole && users.profile.field_availability!==null">
    <h4>Availability</h4>
    <ul class="check" ng-init="availabilites = users.profile.field_availability.split(',')">
      <li ng-repeat="available in availabilites">{{available}}</li>
    </ul>
    <div class="clear clearfix"></div>
  </div>
  <div class="tit">
    <h4>Date of birth</h4>

    <p>

    <div>{{users.profile.field_dob | datetime:"dd MMM yyyy"}}</div>
    </p>
  </div>
  <div class="tit">
    <h4>Phone</h4>

    <p>{{users.profile.field_phone.number}}</p>
  </div>
  <div class="tit">
    <h4>Mobile</h4>

    <p>{{users.profile.field_mobile.number}}</p>
  </div>
  <div class="tit">
    <h4>Gender</h4> 
    <p>
      <div class="capitalize"ng-if="users.profile.field_gender==1">Male</div>
      <div class="capitalize"ng-if="users.profile.field_gender==2">Female</div>
    </p>
   </div>
  <h5>Address</h5> </br>
  <div class="tit">
    <h4>Country</h4>

    <p>

    <div class="capitalize">{{getCountry(users.profile.field_address.country)}}</div>
    </p>
  </div>
  <div class="tit">
    <h4>State</h4>

    <p>

    <div class="capitalize">{{users.profile.field_address.administrative_area}}</div>
    </p>
  </div>
  <div class="tit">
    <h4>City/Suburb</h4>

    <p>

    <div class="capitalize">{{users.profile.field_address.locality}}</div>
    </p>
  </div>
  <div class="tit">
    <h4>Postcode</h4>

    <p>

    <div class="capitalize">{{users.profile.field_address.postal_code}}</div>
    </p>
  </div>
  <div class="tit">
    <h4>Street</h4>

    <p>

    <div class="capitalize">{{users.profile.field_address.thoroughfare}}</div>
    </p>
  </div>
  <div class="tit" ng-if="!userHasRole">
    <h4>Skills</h4>

    <p>

    <div>{{users.profile.field_your_skills}}</div>
    </p>
  </div>

  <div class="tit" ng-if="!userHasRole">
    <h4>Willing to travel</h4>

    <p>

    <div ng-if="users.profile.field_willing_to_travel ==1">5km</div>
    <div ng-if="users.profile.field_willing_to_travel ==2">10km</div>
    <div ng-if="users.profile.field_willing_to_travel ==3">25km</div>
    <div ng-if="users.profile.field_willing_to_travel ==4">50km</div>
    <div ng-if="users.profile.field_willing_to_travel ==5">Will relocate</div>
    </p>
  </div>
  <div class="tit" ng-if="!userHasRole">
    <h4>Qualifications</h4>

    <p>

    <div class="capitalize">{{users.profile.field_your_qualifications}}</div>
    </p>
  </div>


  <p class="logo-profile"><img src="img/logo-1.png"></p>

  <div class="clear clearfix"></div>
</div>
<div class="profile-resume">
  <p class="get" ng-click="locationRedirect('resume')" ng-if="!userHasRole"><a>Get Resume</a></p>

  <p ng-click="locationRedirect('editProfile')"><a>Edit Profile</a></p>

  <div class="clear clearfix"></div>
  <div class="btm"></div>
</div>