<!DOCTYPE html>
<html lang="en-US" ng-app="imtrade">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <!--<base href="/"> -->

    <title>AgriMate</title>

	<link href="lib/ngdialog/css/ngDialog.css" rel="stylesheet" type="text/css" media="all" />
	<link href="lib/ngdialog/css/ngDialog-theme-default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="lib/ngdialog/css/ngDialog-theme-plain.css" rel="stylesheet" type="text/css" media="all" />
	<link href="lib/angular-dropdowns/css/dropdowns.css" rel="stylesheet" type="text/css" media="all" />

	<link href="css/reset.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/content-elements.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/layout.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/typography.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/colors.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	
<!-- shim is needed to support upload progress/abort for HTML5 and non-HTML5 FormData browsers.-->
<!-- use html5-shim.js instead if you just support HTML5 browsers and you need progress event-->
<!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->

    <script src="js/index.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload-shim.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="lib/angular/angular-touch.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
    <script src="lib/ngdialog/js/ngDialog.min.js"></script>
    <script src="lib/angular-dropdowns/dist/angular-dropdowns.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/service/service.js"></script>
	<script src="js/service/data-service.js"></script>
    <script type="text/javascript">
      app.initialize();
    </script>
  </head>
  <body id="imtrade" class="{{activeClass}}" ng-controller="commonController">
  
    <div id="page-wrapper">

      <div ng-include src="'views/header.html'" ng-if='isLogin'></div>
      <div id="main" class="clearfix">
        <div ng-include src="'views/menu.html'" ng-if='isLogin'></div>

        <div id="content" class="clearfix"><div class="inner">

		<!-- this is where content will be injected -->
        <div ng-view></div>

        </div></div><!--- end /.inner, /#content -->

      </div><!--- end /#main -->
      
      <div ng-include src="'views/footer.html'"></div>

    </div><!--- end /#page-wrapper -->
  </body>
</html>
