<div id="roles" browse scroll-to="">
  <div class="demo">
    <div id="verticalTab" class="resp-vtabs">
       <div class="edit-search" sticky-browse>
      	<p>{{candidates.length}} Candidates Found</p>
        <form method="get" action="#">
          <input type="text" value="Edit Search" ng-click="locationRedirect('search')"> </br>
          <div class="shortlist-left" ng-click="shortlistAll()">Shortlist all candidates</div>
        </form>
      </div>
      <ul class="resp-tabs-list view-browse-list" id="listCandidates">  		
        <div class="loadingBar" ng-if="loadingBar1"><img src="img/icon/loadingBar.gif"></div>
        <li class="add-candidate resp-tab-item" ng-repeat="candidate in candidates" id="candidate-{{$index}}" ng-click="openCandidate($index)" ng-swipe-left="dismissT($index,1)" ng-if="candidate.field_first_name !=null && candidate.field_last_name!=null"> 
          <h1 class="uppercase">{{candidate.field_first_name | cut:true:1:''}}{{candidate.field_last_name | cut:true:1:''}}</h1>
          <div class="edit-name edit-name1">
            <h2 class="capitalize">{{candidate.field_first_name}} {{candidate.field_last_name}}</h2>
            <h3 class="capitalize"><strong>{{candidate.field_address.thoroughfare }}<span ng-if="candidate.field_address.locality!=null && candidate.field_address.locality!=undefined && candidate.field_address.locality!=''">,</span> {{candidate.field_address.locality}}</h3>
            <h4>Swipe left to dismiss</h4>
          </div>
        <div class="clear clearfix"></div>
        </li> 
      </ul>
     <div class="resp-tabs-container">
      <div class="loadingBar" ng-if="loadingBar1"><img src="img/icon/loadingBar.gif"></div>
      <div ng-repeat="candidate in candidates" ng-if="candidate.field_first_name !=null && candidate.field_last_name!=null"> 
        <div ng-if="vTabs" >
        	<h2 role="tab" class="resp-accordion" id="tab_item-{{$index}}" ng-click="openCandidateV($index)"  ng-swipe-left="dismissV($index,1)">
        	    <span class="resp-arrow"></span>
        		<div class="resp-tabs-container-h1 uppercase">{{candidate.field_first_name | cut:true:1:''}}{{candidate.field_last_name | cut:true:1:''}}</div>
        		<div class="edit-name">
        			<h2 class="capitalize">{{candidate.field_first_name}} {{candidate.field_last_name}}</h2>
        			<h3 class="capitalize">{{candidate.field_address.thoroughfare }}<span ng-if="candidate.field_address.locality!=null && candidate.field_address.locality!=undefined && candidate.field_address.locality!=''">,</span> {{candidate.field_address.locality}}</h3>
        			<h4>Swipe left to dismiss</h4>
        		</div>
        		<div class="clear clearfix"></div>
        	</h2> 
        </div>
      	<div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-{{$index}}" ng-if="$index == tabIndex && ((vTabs == true && accordian == true) || (vTabs == false && accordian == false) )">
          <div class="loadingBar" ng-if="loadingBar1"><img src="img/icon/loadingBar.gif"></div>
      		<div class="profile-user"><div class="shortlisted" ng-click="toggleModel()">Shortlist</div>
      			<h1 class="uppercase">{{candidate.field_first_name | cut:true:1:''}}{{candidate.field_last_name | cut:true:1:''}}</h1>
      			<div class="ur-name">
      				<h2 class="capitalize">{{candidate.field_first_name}} {{candidate.field_last_name}}</h2>
      			</div>
      			<div class="clear clearfix"></div>
      		</div>
      		<div class="tit" ng-if="locationState && (candidate.field_geo.lat!=null && candidate.field_geo.lon!=null)">
      			<h4>Location</h4>
      			<div class="map">
              <iframe lat="{{candidate.field_geo.lat}}" lon="{{candidate.field_geo.lon}}" iframe-src></iframe> 
      				<h4 class="map-tit capitalize"><span>{{candidate.field_address.thoroughfare }}<span ng-if="candidate.field_address.locality!=null && candidate.field_address.locality!=undefined && candidate.field_address.locality!=''">,</span><br/> {{candidate.field_address.locality}}</span><br/> <span ng-if="candidate.field_willing_to_travel!=null"> Will travel </span>
            <span ng-if="candidate.field_willing_to_travel==1">5km.</span>
            <span ng-if="candidate.field_willing_to_travel==2">10km.</span>
            <span ng-if="candidate.field_willing_to_travel==3">25km.</span>
            <span ng-if="candidate.field_willing_to_travel==4">50km.</span>
            <span ng-if="candidate.field_willing_to_travel==5">Will relocate.</span></h4>
      				<div class="clear clearfix"></div>
      			</div>
      			<div class="clear clearfix"></div>
      		</div>

      		<div class="browse-tit">
      			<div class="tit" ng-if="candidate.field_availability.length>0" ng-init="availabilites = candidate.field_availability.split(',')">
      				<h4>Availability</h4>              
              <ul class="check">
                <li ng-repeat="available in availabilites"><p>{{available}}</p></li> 
              </ul> 
      				<div class="clear clearfix"></div>
      			</div>
      			<div class="tit" ng-if="candidate.field_your_skills!=null">
      				<h4>Skills</h4>
      				<p>{{candidate.field_your_skills}}</p>
      			</div> 
      		</div>

      		<div class="browse-tit browse-tit1">
      			<div class="tit" ng-if="candidate.field_preferred_industry.length>0">
      				<h4>Preferred Industry</h4>
      				<p ng-repeat="industry in candidate.field_preferred_industry">
      				<span ng-switch="{{industry}}">
      				  <span ng-switch-when="1">IT</span>
      				  <span ng-switch-when="2">Retail</span>
      				  <span ng-if="candidate.field_preferred_industry.length>1"> </span>
      				</span>
					</p>
      			</div> 
      		</div>
      		<div class="clear clearfix"></div>
      	</div>
      </div>
     </div>
         
    </div>
  </div>  
    
    <div class="clear clearfix"></div> 
    <div class="clear clearfix"></div>
        <div class="send-resume browse-candidates-fixed">
          <p ng-click="reshortlist()"><a>Show Hidden Candidates</a></p>
          <div class="clear clearfix"></div>
        </div>
</div>  
  
<div class="clear clearfix"></div> 

<section class="semantic-content" id="modal-text" tabindex="-1" ng-if="toggleState">
  <div class="modal-inner">
    <div class="model-close-img" ng-click="toggleModel()"></div> 
    <div class="modal-content inner-overlay-height">
      <div class="profile-user "></br>
        <h1 class="uppercase" ng-if="!selectAll">{{activeCandidate.field_first_name | cut:true:1:''}}{{activeCandidate.field_last_name | cut:true:1:''}}</h1> 
        <div class="ur-name">  <div id="topOfForm"></div>
          <h2 class="capitalize" ng-if="!selectAll">{{activeCandidate.field_first_name}} {{activeCandidate.field_last_name}}</h2>
          <h2 class="capitalize shortlistAllLabel" ng-if="selectAll">Shortlist all candidates</h2>
          <h3 ng-class="{'shortlistAllTap':selectAll}" ng-if="!selectAllConfirm">Tap a role below to add <span class="capitalize shortlist-span" ng-if="!selectAll">{{activeCandidate.field_first_name}}</span><span class="capitalize shortlist-span" ng-if="selectAll">all candidates</span> to the shortlist</h3>
        </div>
        <div class="loadingBar" ng-if="loading"><img src="img/icon/loadingBar.gif"></div>
        <div class="clear clearfix"></div>
      </div>
      <h2 ng-if="selectAllConfirm" class="shortlisted-confirmation">{{selectAllCount}} Candidates added to Shortlist for <span class="capitalize">{{selectedRole.field_employer_1}}-{{selectedRole.field_role_title}}</span></h2>
      <div class="scroll-model scroll-model1 scroll-width-shortlist" >
      <ul class="diary-notes capitalize scrollY"  ng-if="!selectAllConfirm">
        <li ng-repeat="role in roles" ng-click="shortlist($index)" scroll-to="topOfForm" >
          <p class="capitalize">{{role.field_role_title}}</p>
          <p class="comp capitalize">{{role.field_employer_1}}</p>
        </li>  
      </ul>
    </div>
    </div>
  </div>
  <a href="" class="modal-close" title="Close this modal" ng-click="toggleModel()">×</a> 
</section>
