<div scroll-to=""></div>
<div id="roles" roles>
  <div class="demo view-active-roles">
    <div id="verticalTab" class="resp-vtabs">
      <div class="edit-search view-active-role-search" sticky-roles>
        <p>{{roles.length}} Current Roles</p>

        <p class="add-new-role" ng-click="toggleModel()">+ Add New Role</p>
      </div>
      <ul class="resp-tabs-list view-active-role-list" id="listRoles">
        <div class="loadingBar" ng-if="loadingBar1"><img src="img/icon/loadingBar.gif"></div>
        <li class="add-candidate resp-tab-item" ng-repeat="role in roles" id="tab_item-{{$index}}"
            ng-click="openRole($index)" ng-if="role.field_role_title!=null && role.field_employer_1!=null ">
          <div class="edit-name">
            <h2 class="capitalize">{{role.field_role_title}}</h2>

            <h3 class="capitalize">{{role.field_employer_1}}<span
                    ng-if="role.field_location_1.thoroughfare!=null && role.field_location_1.thoroughfare!=undefined && role.field_location_1.thoroughfare!=''">,</span>
              <span>{{role.field_location_1.thoroughfare}}<span
                      ng-if="role.field_location_1.locality!=null && role.field_location_1.locality!=undefined && role.field_location_1.locality!=''">,</span> {{role.field_location_1.locality}}</span>
            </h3>
          </div>
          <div class="clear clearfix"></div>
        </li>
      </ul>

      <div class="resp-tabs-container">
        <div class="loadingBar" ng-if="loadingBar1"><img src="img/icon/loadingBar.gif"></div>
        <div ng-repeat="role in roles" ng-if="role.field_role_title!=null && role.field_employer_1!=null ">
          <h2 role="tab" class="resp-accordion" id="Vtab_item-{{$index}}" ng-click="openRoleV($index)">
            <span class="resp-arrow"></span>

            <div class="edit-name">
              <h2 class="capitalize">{{role.field_role_title}}</h2></br>
              <h3 class="capitalize">{{role.field_employer_1}}<span
                      ng-if="role.field_location_1.thoroughfare!=null && role.field_location_1.thoroughfare!=undefined && role.field_location_1.thoroughfare!=''">,</span>{{role.field_location_1.thoroughfare}}<span
                      ng-if="role.field_location_1.locality!=null && role.field_location_1.locality!=undefined && role.field_location_1.locality!=''">,</span>
                {{role.field_location_1.locality}}</h3>
            </div>
            <div class="clear clearfix"></div>
          </h2>
          <div class="resp-tab-content resp-tab-content-active"
               ng-if="$index == tabIndex && ((vTabs == true && accordian == true) || (vTabs == false && accordian == false) )">
            <div class="profile-user">
              <div class="ur-name">
                <h1 class="capitalize">{{role.field_role_title}}</h1>

                <div class="clear clearfix"></div>
                <h2 class="capitalize">{{role.field_employer_1}}</h2>
              </div>
              <div class="clear clearfix"></div>
            </div>
            <div class="tit" ng-if="locationState && (role.field_geo.lat!=null && role.field_geo.lon!=null)">
              <h4>Location</h4>

              <div class="map">
                <iframe lat="{{role.field_geo.lat}}" lon="{{role.field_geo.lon}}" iframe-src></iframe>
                <h4 class="map-tit"><span>{{role.field_location_1.thoroughfare}}<span
                        ng-if="role.field_location_1.locality!=null && role.field_location_1.locality!=undefined && role.field_location_1.locality!=''">,</span><br/> {{role.field_location_1.locality}}</span>
                </h4>

                <div class="clear clearfix"></div>
              </div>
              <div class="clear clearfix"></div>
            </div>
            <div class="tit">
              <h4>Description</h4>

              <p>{{role.field_role_description}}.</p>
            </div>
            <div class="browse-tit">
              <div class="tit">
                <h4>Required Availability</h4>
                <ul class="check">
                  <li><p>{{role.field_required_availability}}</p></li>
                </ul>
                <div class="clear clearfix"></div>
              </div>
            </div>

            <div class="browse-tit browse-tit1">
              <div class="tit">
                <h4>Preferred Experience</h4>

                <p>{{role.field_preferred_experience}}</p>
              </div>
              <div class="tit">

              </div>
            </div>
            <div class="clear clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="clear clearfix"></div>
    <div class="shortlist">
      <div class="edit-role" ng-click="toggleModel1()"><a>Edit Role</a></div>
      <div ng-click="locationRedirect('browseCandidates')" class="search-candidate"><a>Search for candidates</a></div>
      <div class="shortlisted" ng-click="toggleModel2()"><a href="">View Shortlist</a></div>
    </div>
    <div class="clear clearfix"></div>
  </div>

  <div class="clear clearfix"></div>
</div>


<section class="semantic-content semantic-content1" id="modal-text" tabindex="-1" ng-if="toggleState">
  <div class="modal-inner" id="modal-inner">
    <div class="model-close-img" ng-click="toggleModel()"></div>
    <div class="modal-content" id="popup">
      <div id="topOfForm1"></div>
      <h1>Add New Role</h1>

      <div class="loadingBar" ng-if="loadingBar2"><img src="img/icon/loadingBar.gif"></div>
      <div class="scroll-model" handle-phone-submit>
        <form ng-submit="saveRole();" handle-phone-submit>
          <ul class="diary-notes">
            <li ng-if="error_msgs.length>0">
              <span class="error" ng-repeat="error_msg in error_msgs">{{$index+1}}. {{error_msg}}</span></br>
            </li>
            <li>
              <p class="date">Employer</p>
              <input type="text" name="Tap to add" id="txt-field4" ng-model="roleForm.field_employer_1"
                     class="textfield" placeholder="Tap to add">
            </li>
            <li>
              <p class="date">Role Title</p>
              <input type="text" name="Tap to add" id="txt-field4" ng-model="roleForm.field_role_title"
                     class="textfield" placeholder="Tap to add">
            </li>
            <li>
              <p class="date">Description</p>
              <textarea rows="3" cols="5" name="Tap to add" id="txt-area2" ng-model="roleForm.field_role_description"
                        placeholder="Tap to add"></textarea>
            </li>
            <li>
              <p class="date">Preferred Experience</p>
              <textarea rows="3" cols="5" name="Tap to add" id="txt-area2"
                        ng-model="roleForm.field_preferred_experience" placeholder="Tap to add"></textarea>
            </li>
          </ul>
          <ul class="diary-notes popup-rht">
            <li class="edit-map">
              <iframe lat="29" lon="31" iframe-src></iframe>
              <h4 class="map-tit" ng-click="toggleLocation()"><a>TAP TO EDIT</a></h4>
            </li>
            <li ng-if="showLocationEdit">
              <p class="date">Address</p>

              <div class="phone">
                <p>Country </p><br/>
                <select class="select" ng-model="country" ng-options="opt as opt.label for opt in countries"></select>
              </div>
              <div class="phone">
                <p>State </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.administrative_area">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>City/Suburb </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.locality">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>Postcode </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.postal_code">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>Street </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.thoroughfare">

                <div class="clear clearfix"></div>
              </div>
            </li>
            <li>
              <p class="date">Role Status</p>
              <select class="select" ng-model="roleForm.field_role_status">
                <option value="">Select</option>
                <option value="1">Open</option>
                <option value="2">Closed</option>
              </select>
            </li>
            <li>
              <p class="date">Required Availability</p>
              <select class="select" ng-model="roleForm.field_required_availability">
                <option value="">Select</option>
                <option value="days">Days</option>
                <option value="evenings">Evenings</option>
                <option value="nights">Nights</option>
                <option value="weekends">Weekends</option>
              </select>
            </li>

          </ul>
          <input type="submit" class="invisibleButton"/ />
        </form>
        <div class="clear clearfix"></div>
        <div class="profile-resume">
          <p class="get" ng-click="toggleModel()"><a>Cancel</a></p>

          <p class="create-rol" ng-click="saveRole()" scroll-to="topOfForm1"><a>Create Role</a></p>

          <div class="clear clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <a href="" class="modal-close" title="Close this modal" ng-click="toggleModel()">×</a>
</section>

<section class="semantic-content semantic-content1" id="modal-text" tabindex="-1" ng-if="toggleState1">
  <div class="modal-inner" id="modal-inner">
    <div class="model-close-img" ng-click="toggleModel1()"></div>
    <div class="modal-content" id="popup">
      <div id="topOfForm2"></div>
      <h1>Edit Role</h1>

      <div class="loadingBar" ng-if="loadingBar3"><img src="img/icon/loadingBar.gif"></div>
      <div class="scroll-model">
        <form ng-submit="updateRole();" handle-phone-submit>
          <ul class="diary-notes">
            <li ng-if="error_msgs.length>0">
              <span class="error" ng-repeat="error_msg in error_msgs">{{$index+1}}. {{error_msg}}</span></br>
            </li>
            <li>
              <p class="date">Employer</p>
              <input type="text" name="Tap to add" id="txt-field4" ng-model="roleForm.field_employer_1"
                     class="textfield" placeholder="Tap to add">
            </li>
            <li>
              <p class="date">Role Title</p>
              <input type="text" name="Tap to add" id="txt-field4" ng-model="roleForm.field_role_title"
                     class="textfield" placeholder="Tap to add">
            </li>
            <li>
              <p class="date">Description</p>
              <textarea rows="3" cols="5" name="Tap to add" id="txt-area2" ng-model="roleForm.field_role_description"
                        placeholder="Tap to add"></textarea>
            </li>
            <li>
              <p class="date">Preferred Experience</p>
              <textarea rows="3" cols="5" name="Tap to add" id="txt-area2"
                        ng-model="roleForm.field_preferred_experience" placeholder="Tap to add"></textarea>
            </li>
          </ul>
          <ul class="diary-notes popup-rht">
            <li class="edit-map">
              <iframe lat="{{field_geo.lat}}" lon="{{field_geo.lon}}" iframe-src></iframe>
              <h4 class="map-tit" ng-click="toggleLocation1()"><a>TAP TO EDIT</a></h4>
            </li>
            <li ng-if="showLocationEdit1">
              <p class="date">Address</p>

              <div class="phone">
                <p>Country </p><br/>
                <select class="select" ng-model="country" ng-options="opt as opt.label for opt in countries"></select>
              </div>
              <div class="phone">
                <p>State </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.administrative_area">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>City/Suburb </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.locality">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>Postcode </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.postal_code">

                <div class="clear clearfix"></div>
              </div>
              <div class="phone">
                <p>Street </p>
                <input type="text" id="txt-field4" class="textfield" placeholder="Tap to add"
                       ng-model="roleForm.field_location_1.thoroughfare">

                <div class="clear clearfix"></div>
              </div>
            </li>
            <li>
              <p class="date">Role Status</p>
              <select class="select" ng-model="roleForm.field_role_status">
                <option value="">Select</option>
                <option value="1">Open</option>
                <option value="2">Closed</option>
              </select>
            </li>
            <li>
              <p class="date">Required Availability</p>
              <select class="select" ng-model="roleForm.field_required_availability">
                <option value="">Select</option>
                <option value="days">Days</option>
                <option value="evenings">Evenings</option>
                <option value="nights">Nights</option>
                <option value="weekends">Weekends</option>
              </select>
            </li>

          </ul>
          <input type="submit" class="invisibleButton"/ />
        </form>
        <div class="clear clearfix"></div>
        <div class="profile-resume">
          <p class="get" ng-click="toggleModel1()"><a>Cancel</a></p>

          <p class="create-rol" ng-click="updateRole()" scroll-to="topOfForm2"><a>Save Role</a></p>

          <div class="clear clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <a href="" class="modal-close" title="Close this modal" ng-click="toggleModel1()">×</a>
</section>


<section class="semantic-content viewShortlistModel" id="modal-text" tabindex="-1" ng-if="toggleState2">
  <div class="modal-inner">
    <div class="model-close-img" ng-click="toggleModel2()"></div>
    <div class="modal-content inner-overlay-height">
      <div class="profile-user view-active-role">
        <div class="ur-name">
          <div id="topOfForm"></div>
          <div class="yellow-star"></div>
          <h2 class="capitalize" class="active-role-min-height">
            <div class="shortlist-width">Shortlist
          </h2>
          <div class="single-line"><p class="role-title-popup capitalize">{{activeRole.field_role_title}} </p>

            <p class="comp role-employer-popup capitalize"> {{activeRole.field_employer_1}} </p></div>
          </br>
          <div class="loadingBar" ng-if="loadingBar4"><img src="img/icon/loadingBar.gif"></div>
        </div>
        <div class="clear clearfix"></div>
      </div>
      <div class="scroll-model scroll-width-shortlist scroll-model2">
        <ul class="diary-notes scrollY">
          <div class="profile-user view-active-role" ng-repeat="shortlistedCandidate in shortlistedCandidates"
               scroll-to="topOfForm" ng-click="browseCandidate(shortlistedCandidate.field_profile.target_id)">
            <div id="topOfForm"></div>
            <h1 class="uppercase">{{shortlistedCandidate.field_profile.field_first_name |
              cut:true:1:''}}{{shortlistedCandidate.field_profile.field_last_name | cut:true:1:''}}</h1>

            <div class="edit-name">
              <h2 class="capitalize name">{{shortlistedCandidate.field_profile.field_first_name}}
                {{shortlistedCandidate.field_profile.field_last_name}}</h2>

              <h2 class="capitalize inner-name">Shortlisted by
                {{shortlistedCandidate.field_shortlisted_by.field_first_name}}
                {{shortlistedCandidate.field_shortlisted_by.field_last_name}} </h2>
            </div>
            <div class="clear clearfix"></div>
          </div>
          </br></br>
        </ul>
      </div>
    </div>
  </div>
  <a href="" class="modal-close" title="Close this modal" ng-click="toggleModel2()">×</a>
</section>

