  <div ng-include src="'views/description.html'"></div>
  <div class="loadingBar" ng-if="loading"></div> 
  <div class="directory-list">
    <div class="directory-header" ng-repeat="term in topics">
      <label ng-if="toSetLabel(term.id)"><a href="#/tags/{{term.id}}">{{term.label}}</a></label>
      <ul class="users-list">
        <li ng-repeat="user in getCategoryUserByExperience(term.id)">
           <a ng-if="user.photo" href="#/user/{{user.pid}}" title="{{user.label}}">
              <img class="avatar" ng-src="http://launchpad.gocatalyze.com/sites/launchpad.gocatalyze.com/files/{{user.photo}}"/>
           </a>
           <a ng-if="!user.photo" href="#/user/{{user.pid}}" title="{{user.label}}">
              <img class="avatar" ng-src="img/default-user.jpg" src="img/default-user.jpg"/>
           </a>
        </li>
      </ul>
    </div> 
  </div>
  