  <div ng-include src="'views/description.html'"></div>
  <div class="loadingBar" ng-if="loading"></div>
  <div class="search-by-alphabet">
    <a href="" ng-click="scrollTo(char.value)" ng-repeat="char in characters">
    {{char.label}}
    </a>
  </div>
  
  <div class="users-list-container">
    <div class="notificationmsg error" ng-if="msg">{{msg}}</div>
    <div id="{{alpha.value}}" ng-repeat="alpha in initialChar">
      <h2 class="index">{{alpha.label}}</h2>
      <ul class="users-list">
        <li ng-repeat = "user in allUsers | UsrCat:alpha.label">
          <span ng-if="user.field_website_profile_photo"><img class="avatar" ng-src="http://launchpad.gocatalyze.com/sites/launchpad.gocatalyze.com/files/styles/thumbnail/public/{{user.field_website_profile_photo.filename}}"/></span>
          <span ng-if="!user.field_website_profile_photo"><img class="avatar" ng-src="img/default-user.jpg"></span>

          <div class="info">
            <div class="user-name"><a href="#/user/{{user.pid}}">{{user.label}}</a></div>
            <div class="user-email">{{user.field_organisation}}</div>
          </div>
	    </li>
      </ul>
    </div>
  </div>
