<div class="loadingBar" ng-if="loading"></div> 

  <div class="category-list-container">
    <div class="category-header"><label>{{categoryUserByExperience.length}} people know about {{setCategoryLabel(catId)}}</label></div>
    <ul class="users-list">
      <li ng-if="categoryUserByExperience.length!=0" ng-repeat = "user in categoryUserByExperience">
	    <span ng-if="user.photo"><img class="avatar" ng-src="http://launchpad.gocatalyze.com/sites/launchpad.gocatalyze.com/files/{{user.photo}}"/></span>
        <span ng-if="!user.photo"><img class="avatar" ng-src="img/default-user.jpg"></span>
        <div class="info">
          <div class="user-name"><a href="#/user/{{user.pid}}">{{user.label}}</a></div>
        </div>
      </li>
    </ul>

    <div class="category-header"><label>{{categoryUserByInterest.length}} people want to Learn about {{setCategoryLabel(catId)}}</label></div>
    <ul class="users-list">
      <li ng-if="categoryUserByExperience.length!=0" ng-repeat = "user in categoryUserByInterest">
	    <span ng-if="user.photo"><img class="avatar" ng-src="http://launchpad.gocatalyze.com/sites/launchpad.gocatalyze.com/files/{{user.photo}}"/></span>
        <span ng-if="!user.photo"><img class="avatar" ng-src="img/default-user.jpg"></span>
        <div class="info">
          <div class="user-name"><a href="#/user/{{user.pid}}">{{user.label}}</a></div>
        </div>
      </li>
    </ul>

  </div>