  <div class="preface">
    <div ng-if="!currentUser">
      <h1>Connect with Enterpreneurship in Oxford</h1>
      <p><a href="#/users/signup">Sign up</a> and tell us what you know about, and what you'd like to know more about. Then get in touch with someone and start talking. Whether you're a seasoned entrepreneur, investor, first-timer, or a student, everyone is welcome.</p>
    </div>
    
    <div class="browsing-wrapper">
      <ul class="browse-button">
        <li><a href="#/" class="browse-by-name {{NameClass}}">Browse By Name</a></li>
        <li><a href="#/tags" class="browser-by-experience {{exClass}}">Browse by Experience</a></li>
      </ul>
    </div>
  </div>