      <div id="footer" class="clearfix"><div class="container"><div class="container-inner">
        <p>Site sponsored by GO1</p>
        <p><span><a href="http://go1.co"><img src="img/go.png" alt="Go" /></a></span>
        <span><a href="http://adurolms.com"><img src="img/adura.png" alt="Adura" /></a></span>
        <span><a href="http://gocatalyze.com"><img src="img/gocatalyze.png" alt="Go catalyze" /></a></span></p>
      </div></div></div><!--- end /.container-inner, /.container, /#footer --->