  <div id="password-container">
    <h2 class="title">Forgot Your Password ?</h2>
    <div class="notificationmsg error" ng-if="errormsg">{{errormsg}}</div>
    <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
    <div class="password-content">
	 <form name="passwordForm" ng-submit="SendForgotMail(passwordForm)" novalidate>
        <div class="form-item form-type-textfield">
			<label>Email</label>
			<input ng-model="forgot.email" type="email" class="form-text" required>
        </div>
        <div class="form-item form-type-submit">
			<input  value="Reset my password" class="form-submit" type="submit">
		</div>
	 </form>
	 <div class="create-an-account">Alternatively you can&nbsp;<a href="#/users/login">sign in</a>&nbsp;or&nbsp;<a href="#/users/signup">register for an account</a></div>
    </div><!--- end /.password-content --->
  </div><!--- end /#password-container --->