<div id="login-container">
  <h2 class="title">Sign in</h2>
  <div class="loadingBar" ng-if="loading"></div> 
	<div ng-if="errormsg" class="notificationmsg error">{{errormsg}}</div>
	<div class="login-content">
	  <form name="loginForm" ng-submit="doLogin(loginForm)" novalidate>
        <div class="form-item form-type-textfield">
          <label>Email</label>
          <input tabindex="1" id="edit-name" class="form-text" type="text" name="username" placeholder="Email" ng-model="credentials.username" required>
        </div>
        <div class="form-item form-type-textfield">
          <label>Password</label>
          <input tabindex="1" id="edit-password" class="form-text" type="password" name="password" placeholder="Password" ng-model="credentials.password" required>
        </div>
        <div class="form-item form-type-checkbox">
          <input tabindex="1" id="edit-remember-me" class="form-checkbox" name="rememberme" type="checkbox" ng-model="rememberMe" ng-change="setRememberMe()">
          <span>Remember me </span>
        </div>
        <div class="form-item form-type-submit">
          <input tabindex="1" id="edit-submit" class="form-submit" name="log_in" value="Log In" type="submit">
        </div>
	  </form>
      <div class="create-an-account">Alternatively you can&nbsp;<a href="#/users/signup">register for an account</a>&nbsp;or&nbsp;<a href="#/forgot-password">reset your password</a></div>
	</div> <!--- end /.login-content --->
</div><!--- end /#login-container --->