<div id="user-register-container">
 <h2 class="title">Sign Up</h2>
      <a href="" id="idRegisterTop"></a>
      <div class="notificationmsg error" ng-if="errormsg" ng-repeat="error in errormsg">{{error.label}}</div>
      <div class="notificationmsg success" ng-if="successmsg">{{successmsg}}</div>
      <div class="loadingBar" ng-if="loading"></div>
	<form name="registerForm" ng-submit="userRegister(registerForm)" novalidate>
      <div class="user-register">
        <div class="form-item form-type-textfield">
          <label>First Name *</label>
          <input tabindex="1" id="edit-first-name" class="form-text" type="text" name="first_name" ng-model="newUser.data.profile.field_first_name"  ng-pattern="/^[a-zA-Z0-9]{1,20}$/" required/>
        </div>

        <div class="form-item form-type-textfield">
          <label>Last Name *</label>
          <input tabindex="1" id="edit-first-name" class="form-text" type="text" name="last_name" ng-model="newUser.data.profile.field_last_name"  ng-pattern="/^[a-zA-Z0-9]{1,20}$/" required/>
        </div>

        <div class="form-item form-type-textfield">
          <label>Email *</label>
          <input tabindex="1" id="edit-email" class="form-text" type="email" name="email" ng-model="user.email" required/>       
        </div>

        <div class="form-item form-type-textfield">
          <label>Confirm Email *</label>
          <input tabindex="1" id="edit-email" class="form-text" type="email" name="email_confirm" ng-model="user.email_confirm" required/>       
        </div>

        <div class="form-item form-type-textfield">
          <label>Organisation</label>
          <input tabindex="1" id="edit-email" class="form-text" type="text" name="organisation" ng-model="newUser.data.profile.field_organisation" />       
        </div>

        <div class="form-item form-type-textfield">
          <label>Password *</label>
           <input tabindex="1" id="edit-first-name" class="form-text" type="password" name="password" ng-model="newUser.password" required/>
        </div>

        <div class="form-item form-type-checkbox">
           <input tabindex="1" class="form-checkbox" type="checkbox" ng-model="userChoice" name="choice" >
           <span>I want to appear on the directory</span>
        </div>
        
        <div class="form-item form-type-submit">
          <input tabindex="1" id="edit-submit" value="Create Account" class="form-submit" type="submit">
        </div>
    </div><!-- end /.user-register -->
  </form>
  <div class="create-an-account">Alternatively you can&nbsp;<a href="#/users/login">sign in</a>&nbsp;or&nbsp;<a href="#/forgot-password">reset your password</a></div>
</div><!-- end /#user-register-container -->