<div class="loadingBar" ng-if="loading"></div>
  <div class="user-profile">
    <div class="users-profile-container">
          <div ng-if="reqUser.field_website_profile_photo" class="user-image"><img class="avatar" ng-src="http://launchpad.gocatalyze.com/sites/launchpad.gocatalyze.com/files/styles/thumbnail/public/{{reqUser.field_website_profile_photo.filename}}"/></div>
          <div ng-if="!reqUser.field_website_profile_photo" class="user-image"><img class="avatar" ng-src="img/default-user.jpg" /></div>
          		
          		
				<div class="info">
				    <div class="profile-edit" ng-if="profile.pid == reqUser.pid"><a ng-if="currentUser" href="#/edit-profile">(edit your profile)</a></div>
				
					<h3 class="user-name">{{reqUser.field_first_name}}&nbsp;&nbsp;{{reqUser.field_last_name}}</h3>
					<div class="user-organization">{{reqUser.field_organisation}}</div>
					<div class="organization-website"><a target="_blank" href="http://{{reqUser.field_website_1}}">{{reqUser.field_website_1}}</a></div>
					
					<div class="social-icons">
					  <span class="user-linedin" ng-if="reqUser.field_linkedin">
					    <a target="_blank" href="http://{{reqUser.field_linkedin}}"><img ng-src="img/linkedin-icon.png" alt="linedin" /></a>
					  </span>
					  <span class="user-twitter" ng-if="reqUser.field_twitter">
					    <a target="_blank" href="http://twitter.com/@{{reqUser.field_twitter.twitter_username}}"><img ng-src="img/twitter-icon.png" alt="twitter" /></a>
					  </span>
					  <span class="user-email" ng-if="reqUser.mail">
					     <span ng-if="currentUser">
 						  <span ng-if="profile.pid != reqUser.pid">
							<a href="#/user/{{reqUser.pid}}/contact" title = "contact"><img ng-src="img/email-icon.png" alt="email" /></a>
						  </span>
					    </span>
					  </span>
					</div>
				</div>
				

     <h5>I know a bit about:</h5>
	  <div ng-if="reqUser.field_ask_me_about_6" class="kt-tags">
		<span ng-repeat="term in Exp">
			<a class="tags" href="#/tags/{{term.id}}">{{term.label}}</a>
		</span>
	 </div>

     <h5>I want to know more about:</h5>
	 <div ng-if="reqUser.field_i_m_interested_in_5" class="kt-tags">
		<span ng-repeat="term in Int">
			<a class="tags" href="#/tags/{{term.id}}">{{term.label}}</a>
		</span>
    </div>

    <div ng-if="!currentUser">
      <h5>Contact {{reqUser.field_first_name}}</h5>
	  <div><a href="#/users/login">Sign in</a> to contact {{reqUser.field_first_name}}&nbsp;{{reqUser.field_last_name}}.
    </div>

    </div>
  </div>


